<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
        
    <session-config>
        <!--minutes-->
        <session-timeout>1</session-timeout>
    </session-config>    
    
    <!--after session out ,when request happened,do this-->
    <filter>
        <description>sessionliveListener</description>
        <filter-name>sessionliveListener</filter-name>
        <filter-class>com.test.sessionlive.SessionLiveListener</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionliveListener</filter-name>
        <url-pattern>/test_sessionLive.jsp</url-pattern>
    </filter-mapping>
    
    <!--listen the session status from create to destroy-->
    <listener>
        <description>SessionLiveListener</description>
        <listener-class>com.test.sessionlive.SessionLiveListener</listener-class>
    </listener>
        
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.test.servlet.ServletTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet.jsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>WordAndExcel</servlet-name>
        <servlet-class>com.test.servlet.WordAndExcelShow</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WordAndExcel</servlet-name>
        <url-pattern>/test_WordAndExcel.jsp</url-pattern>
    </servlet-mapping>    

</web-app>
