<div id="footer"></div>
<div id="footerbox">
<div class="footer">$!{blog.title} is proudly powered by 
<a href="http://www.easyjf.com/">Easy Java Framework</a>
$!{blog.footer}
#*
<a href="/portal.ejf?cmd=feedRss2">Entries (RSS)</a> and 
<a href="/portal.ejf?cmd=feedCommentsRss2">Comments (RSS)</a>. 

Theme by <a href="http://www.blogohblog.com">Bob</a>	
<div style="position:absolute; top:5%;right:0;width:200px;height:auto;background-color:#FFF; color:#36C; float:right; font-size:1em; font-weight:bold; opacity:0.8; filter:alpha(opacity=80); padding:1em; margin:1em;"><p>IS single</p><p>IS singular</p></div></div></div>
*#