body {font-family: "宋体", Arial, Helvetica, sans-serif;font-size: 12px;color: #000000;}
div,li,ul,form,span{ margin:0 ; padding:0}
.left{ float:left}
.right{ float:right}
.inputTextCss {border: #00CCFF 1px solid ; background:#00FFCC}
.inputPassCss {border: #00CCFF 1px solid ; background:#00FFCC}
.BTValue{ color:#000000; font-size:14px}


/*页面加载对话框样式*/
#loadingTab{position:absolute;left:38%;top:40%;padding:2px;z-index:20001;height:auto;border:1px solid #CCCCFF; width:250px}
#loadingTab a {color:#225588;text-decoration:none}
#loadingTab a:hover {color:#999900;text-decoration: underline;}
#loadingTab .loading-indicator{background:white;color:#444;font:bold 15px tahoma,arial,helvetica;padding:10px;margin:0;height:auto;}
#loading-yfo a { font-size:10px;color:#999999;text-decoration:none}
#loading-yfo a:hover {color:#000000;text-decoration:none}
#loading-msg {font: normal 9px arial,tahoma,sans-serif;}

/*主页面*/
#topFrame{ height:80px; width:100%;}

/*图标*/
.addIconCss {background-image:url(Images/add.gif) !important;}
.deleteIconCss{background-image:url(Images/delete.gif) !important;}
.selectIconCss{background-image:url(Images/select_top.gif) !important;}
.refreshIcon{background-image:url(Images/refresh2.gif) !important;}
.editIconCss{background-image:url(Images/edit.gif) !important;}
.uploadIconCss{background-image:url(Images/upload-start.gif) !important;}
.viewIconCss{background-image:url(Images/download-start.gif) !important;}
.approveIconCss{background-image:url(Images/approve.png) !important;}
.approvesIconCss{background-image:url(Images/approves.png) !important;}


/*********行的颜色***************/
.yellow-row .x-grid3-cell-inner{
	color:#FE9A12;
}
.red-row .x-grid3-cell-inner{
	color:red;
}
.green-row .x-grid3-cell-inner{
	color:green;
}
