/*-== topic.css  meizz  2007-01-16 ==-*/
@Import url("../base.css");
@Import url("../public_header_footer.css");
/*-=  =-*/
body{width:96%; margin:auto; min-width:960px; text-align:left; background-color:#FFFFFF;}
* html body{padding: 0 2%}

dfn,cite,ins,kbd,samp,var{font-style: normal; text-decoration: none;}

.CSDN-PHF{width: 100%;}
#CSDNPHL td{background-color: #38506A;}

/*-== 20070607 BBSGlobal.css ==-*/
#navbar, #funcbar{margin-top: 5px; text-align: left; line-height: 24px;}
#pagefunc,#pagefunc1 {float: right;}
#navbar dl, #funcbar dl{padding: 1px; border: solid 1px #CCCCCC;}
#navbar dd, #funcbar dd{height: 24px;padding: 0 5px;line-height: 20px;background-color: #E1E2E7;}
#navbar a, #funcbar a{color: #000000;}
#navbar .clear{display: none;}
#navbar .csdnNavigation{float: left; padding-left: 22px; background: url(BBSGlobal/jutNav.gif) no-repeat 3px;}
#funcbar dd{height: 24px; padding-top: 2px;}
#funcbar span{float: right;}

input.button{color: #FFFFFF;border-width: 0px;background-image: url(BBSGlobal/bgButton.gif); width: 65px; height: 22px;line-height: 20px}
input.button_120{color: #FFFFFF;border-width: 0px;background-image: url(BBSGlobal/bgButton_120.gif); width: 120px; height: 22px;line-height: 20px}
a.button
{
    padding: 0 5px;
    color: #FFFFFF;
    height: 140%;
    margin-left: 6px;
    border-top: solid 1px #6699CC;
    border-left: solid 1px #6699CC;
    border-right: solid 1px #339999;
    border-bottom: solid 1px #339999;
    background: url(BBSGlobal/bgLinkButton.gif) repeat-x top;
}
a.blockButton
{
    width: 65px;
    height: 22px;
    color: #FFFFFF;
    display: block;
    line-height: 22px;
    text-align: center;
    margin-right:5px;
    background-image: url(BBSGlobal/bgButton.gif);


}

#navbar a.blockButton, #funcbar a.blockButton, .func a.blockButton{color:#FFFFFF;}
span.jinghua img{background:url(BBSGlobal/jinghua2.gif) no-repeat; width:29px; height:17px;}
span.lock img{background:url(BBSGlobal/lock.gif) no-repeat; width:17px; height:17px;}

img.grade{background: url(BBSGlobal/rank.gif) no-repeat;}
img.user1{width: 11px; height: 9px;}
img.user2{width: 22px; height: 9px;}
img.user3{width: 33px; height: 9px;}
img.user4{width: 44px; height: 9px;}
img.user5{width: 55px; height: 9px;}
img.star1{background-position: 0 -12px; width: 10px; height: 9px;}
img.star2{background-position: 0 -12px; width: 20px; height: 9px;}
img.star3{background-position: 0 -12px; width: 30px; height: 9px;}
img.star4{background-position: 0 -12px; width: 40px; height: 9px;}
img.star5{background-position: 0 -12px; width: 50px; height: 9px;}
img.diam1{background-position: 0 -24px; width: 16px; height: 13px;}
img.diam2{background-position: 0 -24px; width: 32px; height: 13px;}
img.diam3{background-position: 0 -24px; width: 48px; height: 13px;}
img.diam4{background-position: 0 -24px; width: 64px; height: 13px;}
img.diam5{background-position: 0 -24px; width: 80px; height: 13px;}




/*-== 20070607 navigation.css ==-*/
ul.navigationBar
{
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 20px;
	background: url(navigation/jutNav.gif) no-repeat 3px center;
}
ul.navigationBar li
{
    margin: 0;
    padding: 0;
    float: left;
    padding-left: 2px;
    padding-right: 16px;
	background: url(navigation/divider.gif) no-repeat right center;
}
ul.navigationBar .current{padding-right: 0px; background-image: none;}



/*-== 20070607 pagination.css ==-*/
ul.paginationBar
{
    float: left;
    margin: 0px;
    padding: 1px;
    list-style: none;
    border: solid 1px #CCCCCC;
}

ul.paginationBar li
{
    margin: 0;
    padding: 0;
    display: inline;
}
ul.paginationBar a,
ul.paginationBar span
{
    float: left;
    margin-right: 1px;
    line-height: 130%;
    padding: 0.2em 0.5em 0.1em;
    background-color: #F0F1F5;
}
ul.paginationBar .current a
{
    font-weight: bold;
}
ul.paginationBar span
{
    color: #FFFFFF;
    font-weight: bold;
    background: url(pagination/explain.gif) repeat-x;
}
ul.paginationBar a:hover{background-color: #DDDDDD;}


/*-== 20070607 tabbar.css ==-*/
ul.tabBar
{
    height: 25px;
    list-style: none;
    margin: 6px 0 0 0;
    padding: 0 0 0 10px;
    background: url(tabbar/bgTabbar.gif) repeat-x top;
}
ul.tabBar li
{
    margin: 0;
    padding: 0;
    float: left;
    width: 66px;
    height: 21px;
    line-height: 20px;
    text-align: center;
    background: url(tabbar/tabbarItem.gif) no-repeat top;
}

ul.tabBar li.current
{
    background-image: url(tabbar/tabbarItemSelected.gif);
}
ul.tabBar a{color: #FFFFFF;}
ul.tabBar li.current a{color: #485E6C;}

ul.subTabBar
{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.subTabBar li
{
    margin: 0;
    padding: 0;
}


/*-== post reply item ==-*/
a.button
{
    padding: 0 5px;
    color: #FFFFFF;
    height: 140%;
    margin-left: 6px;
    border-top: solid 1px #6699CC;
    border-left: solid 1px #6699CC;
    border-right: solid 1px #339999;
    border-bottom: solid 1px #339999;
    background: url(topic/bgLinkButton.gif) repeat-x top;
}



/*-= search bar =-*/
#searchBar{margin-top: 5px;}
#search{float: right;}
input.key{border: solid 1px #AAAAAA; height: 20px; width: 200px;}
input.csdnsearch{background-image: url(topic/csdnsearch.gif);width: 58px; height: 23px;}
input.fsearch{background-image: url(topic/fsearch.gif);width: 58px; height: 23px;}
#searchBar .clear{display: none;}
input.button{color: #FFFFFF;border-width: 0px;background-image: url(topic/bgButton.gif); width: 65px; height: 22px;line-height: 20px;}
#headerUserSearch{line-height:30px}
#headerUserSearch li{margin:0px;padding:0px;list-style-type:none;}
#headerUserSearch li ul{margin:0px;margin-right:10px; padding:0px;display:inline;}
#headerUserSearch div{margin:0px 20px;vertical-align:middle;}
#headerUserSearch .darkLink{color:Gray;text-decoration:none;}
#headerUserSearch .blackLink{margin-left:10px;color:Black;font-weight:bold;text-decoration:none}
#headerUserSearch a{color:Black;}


/*-= navigation bar =-*/
#pagefunc{float: right;}

#navbar .clear{display: none;}
#navbar .csdnNavigation{float: left; padding-left: 22px; background: url(topic/jutNav.gif) no-repeat 3px;}

#navbar dl, #funcbar dl{border:none; padding:1px;}
#navbar dd, #funcbar dd{padding:1px 5px;}
#funcbar span{float: right;}
#navbar a, #funcbar a{color: #000000;}

/*-= page content =-*/
.item{margin-top:5px; border:solid 1px #CCCCCC; text-align:left;}
.item table{width:100%; margin-top:0px; border:none;}
table.item{width:100%}

/* topic caption */
.item th.topicCaption{background: url(topic/bgTopicCaption.gif) repeat-x top; text-align: left}
.item th.topicCaption strong{display: block; color: #FFFFFF;font-size: 13px;line-height: 22px;padding-left: 16px;text-align: left;background: url(topic/jutTopicCaption.gif) no-repeat 6px;}

/* user info */
.item td.info{width: 165px;vertical-align: top;background-color: #CDD3DA;padding:8px 0px 0px 8px; }
.item td.info a{color:Black;}
.item td.info .icon{float:left;margin-right:10px}
.item td.info ul,.item td.info li, .item td.info dl{margin: 0px; list-style-type: none; line-height: 180%;}
.item td.info ul{clear:both;}
.item td.info .nickname textarea{font-size:12px; color:#666666; font-family:ËÎÌå; width: 160px; border:none; overflow:hidden; background-color:transparent; height:40px;}
.item .username var{font-weight: bold; color: #000000; font-size: 13px; margin-top: 5px;margin-left:3px}
.topic td.info ul{height: 300px;}

/*check out area */
.chout{float:left;display: none;overflow:visible;position:absolute;width:400px}
.chout div{float:left;margin:0px 2px;border:solid 1px #ffb943;background-color:white;padding:1px 0px;}
.chout .menu{float:left;padding:4px 8px;margin:0px;border:solid 1px #ffb943;background-color:#efd8b8;}
.chout .menu a{padding:0px 3px;}
.chout .arrow{color:#ffb943;}

/* main region */
.item td.main{padding: 0px;vertical-align: top;height: 100%; font-size:12px;}
.item td.main table{height: 100%;}

dl.code{}
dl.code dt{background-color: #F5F5F5; height: 24px; line-height: 24px; font-weight: bold; text-indent: 6px; color: #333333;}
dl.code dd{border: solid 1px #DDDDDD;}

/* posttime floor */
.item td.floor{height: 20px; text-align: right; background-color: #F0F1F5;}
.item td.floor span{float: left;}
.item td.floor var{margin-right: 5px;}
.reply td.floor input{width:32px;}
.reply td.floor input.operator{background-color:transparent;border:none;}

/* topic content */
.item td.content{padding: 16px 10px 24px; font-family: "ÐÂËÎÌå";vertical-align: top; text-align: left;}
.item td.content code{border: solid 1px #E5E9EC; background-color: #F7F8FA; display: block; padding: 8px; margin-right: 32px;}
.adminOpera{padding:8px;border:solid 1px #ffb943;background-color:#efd8b8;}

/* function */
.item td.function{padding: 0px 3px; height: 28px; text-align: right; border-top: solid 1px #CDD3DA; padding-right: 5px;}
.item td.function span{float: left;}
.item td.function input{border: none; margin-left: 3px; height: 19px;color: #FFFFFF; background: url(topic/bgLinkButton.gif) repeat-x top;}
.gotop{cursor:pointer;width:20px;border: none; margin-left: 3px; height: 19px;color: #FFFFFF; background: url(topic/top.gif) repeat-x top!important;}

/* replyPost */
table.replyPost{width:100%;}
table.replyPost td.main{color: #4D577A;}
table.replyPost .main a{color: #000000;}
table.replyPost .submitRegion{padding: 8px 0;}


/*-= UserCard =-*/
div.UserCard{position:absolute; z-index:1; width:357px; height:194px; background:url(topic/bgUserCard.gif) no-repeat;}
div.UserCard table{position:relative; top: 12px; left:56px; width:290px;}
div.UserCard td.left{width:80px; text-align:center; vertical-align:top; line-height:170%;}
div.UserCard td.right{text-align:left; vertical-align:top; line-height:170%;}
div.UserCard img.face{width:70px; border:solid 1px #5b7790;}
div.UserCard a{color:#01359d;}

div.UserCard img.addFriend{width:61px; height:17px; background:url(topic/addFriend.gif) no-repeat; margin-bottom:5px;}
div.UserCard img.sendIMMsg{width:61px; height:17px; background:url(topic/sendIMMsg.gif) no-repeat; margin-bottom:5px;}
div.UserCard img.goBlog{width:61px; height:17px; background:url(topic/goBlog.gif) no-repeat; margin-bottom:5px;}



/*-- Ñ«ÕÂ - */
.medalregion {position: relative; font: bold 8px Tahoma,sans-serif;color: #fff;}
.medalnum{ position:absolute;top:3px;left:22px;margin:0;padding:0;}