/******整个空间页面******/
body{background:url(http://imgsrc.baidu.com/css/pic/item/681ed50294611e034afb51ad.jpg) top left;CURSOR:url(http://img.baidu.com/hi/cur/arrow.cur);overflow-x:hidden;}/*页面背景及鼠标样式*/

a:link{text-decoration:none;CURSOR:     ;} /*链接鼠标样式*/
 a:visited{text-decoration:none;CURSOR:     ;} /*访问鼠标样式*/
a:hover{text-decoration:underline;CURSOR:     ;} /*悬停鼠标样式*/

/******空间顶部******/
#userbar{} /*登陆栏,不可更改*/
/******空间主体******/
#main{width:960px!important;background:      no-repeat bottom;} /*底部背景,比header与stage略宽*/

/******空间头部******/
#header{width:960px;height:350px;background:      no-repeat;} /*头部背景,包括本站的流量统计,请您删除该处的图片信息*/
#header div.lc{width:960px;height:350px;background:url(http://imgsrc.baidu.com/css/pic/item/b08a544fac3e4d3aaec3abae.jpg) top no-repeat;} /*头部左侧背景*/
#header div.rc{} /*头部右侧背景*/
#header div.tit{width:0px;top:0px;left:0px;line-height:1.2;font-size:0px;} /*空间名称位置及字体*/
#header div.tit a.titlink{color:#333333;text-decoration:none;} /*空间名称链接字体*/
#header div.tit a.titlink:visited{color:#000000;} /*访问效果*/
#header div.desc{width:0px;top:100px;left:0px;color:#333333;font-size:0px;} /*空间描述位置及字体*/

/******导航菜单******/
#tabline{top:363px;background-color}
#tab{top:320px;margin-left:20px}
#tab a.on,#tab a.on:link,#tab a.on:visited{margin-top:3px;border-left:1px solid #808080;border-right:1px solid #808080;border-top:1px solid #808080;line-height:19px;background-color:;color:#808080;font-size:14px}
#tab span{color:#FFFFFF;font-size:14px}
#tab a:link{color:#808080;text-decoration:none;font-size:14px}
#tab a:visited{color:#808080;text-decoration:none;font-size:14px}

/******内容区域******/
.stage{width:930px!important;margin:0px 10px 10px 15px;background:url(http://imgsrc.baidu.com/css/pic/item/631ea036790dc33d0b55a9ae.jpg) top repeat-y;} /*内容区域背景*/

/******其它区域******/
#comm_info{color:#333333;font-family:Arial;text-align:left}
#comm_info div.line{margin-top:5px;margin-bottom:15px;line-height:50px;
padding-bottom:215px;border-top:1px solid #D2E9F4;
background:url(http://imgsrc.baidu.com/css/pic/item/11bbe419310a0d4942a9adae.jpg) bottom no-repeat;}
#comm_info a{color:#3399CC}
#m_comm_info div a{visibility:hidden;} /*是否显示百度logo*/
#m_comm_info.modbox{line-height:20px;color:#502600;font-size:13px;} /*其它区域模块*/

/******页码区域,位置及颜色编辑无效******/  
#page{height:30px;font-size:14px;font-family:Arial;text-align:center}
#page span{padding:3px;color:#808080;font-size:14px;font-weight:bold}
#page a.pc{color:#808080;font-size:14px;font-weight:bold}
#page a.pc:visited{color:#808080}
#page a.pi{padding:3px;color:#808080;font-size:14px}
#page a.pi:visited{color:#808080}

/******模块区域:内容区域的所有模块的公用设置******/ 
.mod{margin-bottom:30px}
.modhandle{cursor:move}
.modth{height:24px}
.modhead{padding:4px 4px 0 4px}
.modopt{padding:4px 4px 0 0}
.modtit{color:#555555;font-size:12px;font-weight:bold}a.modtit{color:#555555}a.modtit:visited{color:#555555}
.modtitlink{color:#0A0110;font-size:12px;font-weight:bold}a.modtitlink{color:#0A0110;text-decoration:none}a.modtitlink:visited{color:#0A0110;text-decoration:none}a.modtitlink:hover{color:#0A0110;text-decoration:underline}
.modact{color:#808080;font-size:12px}a.modact:link{color:#555555}a.modact:visited{color:#555555}
.modbox{padding:10px 10px 0 10px;background-color:#0A0110;border-left:1px dotted #555555;border-right:1px dotted #555555;border-under:1px dotted #555555}
.modtl{background:#0A0110;border-top:1px dotted #555555;border-left:1px dotted #555555;border-bottom:1px dotted:#CFCBB8;line-height:1px}
.modtc{background:#0A0110;border-top:1px dotted #555555;border-bottom:1px dotted #555555;line-height:1px}
.modtr{background:#0A0110;border-top:1px dotted #555555;border-right:1px dotted #555555;border-bottom:1px dotted #0A0110;line-height:1px}
.modbl{background:#0A0110;border-left:1px dotted #555555;border-bottom:1px dotted #555555;line-height:1px}
.modbc{background:#0A0110;border-bottom:1px dotted #555555;line-height:1px}
.modbr{background:#0A0110;border-right:1px dotted #555555;border-bottom:1px dotted #555555;line-height:1px}

/******文章区域******/
#m_blog div.tit{color:#888888;font-size:14px;font-weight:bold;background:url(http://imgsrc.baidu.com/css/pic/item/a8f7bcc46c8bf9a58326acae.jpg) no-repeat top left;text-indent: 50px;height:45px;line-height:75px}
#m_blog div.tit a{color:#888888;font-size:14px;font-weight:bold;no-repeat top left;text-indent: 35px;height:75px;line-height:45px}
#m_blog div.date{margin:5px 0 8px 0;color:#888888}
#m_blog div.cnt{color:#888888;line-height:20px;font-size:14px}
#m_blog div.cnt div{font-size:14px}
#m_blog div.more{margin:14px 0 16px 0}
#m_blog div.more a{color:#888888;font-size:14px}
#m_blog div.more a:visited{color:#888888}
#m_blog div.opt{color:#888888;font-size:12px}
#m_blog div.opt a{color:#888888;font-size:12px}
#m_blog div.opt a:visited{color:#888888}
#m_blog div.line{margin-top:1px;line-height:16px;border-top:1px}
#m_blog div.none{padding:100px 0 100px 0;color:#888888;font-size:14px}

/******个人档案区域******/
#mod_profile.mod{margin:0px 0px 30px 0px;} /*首页个人档案标题*/
#m_pro a{color:#808080}
#m_pro a:visited{color:#808080}
#m_pro div.image{background:      no-repeat bottom;padding-bottom:10px;text-align:center}
#m_pro div.act{margin-top:10px}
#m_pro div.user{margin-top:38px;color:#808080;font-size:12px;font-weight:bold}
#m_pro div.desc{color:#BBBBBB;font-size:12px}
#m_pro div.line{margin-top:17px;line-height:17px;border-top:1px solid #808080}
#m_pro td{color:#333333;line-height:24px;font-size:14px}
#m_pro .photo{background:#0A0011;border:0px solid #DDD}
#m_pro .photo td{font-size:12px}
#m_pro .photo .image{padding:20px 0 10px 0}
#m_pro .photo .line{width:90%;line-height:0;border-top:0px dashed #DDD;font-size:1px}
#m_pro .ref{margin-top:10px;border:1px solid #DDD}
#m_pro .ref .tit{padding-left:10px;background:#EEE;border-bottom:1px solid #DDD}
#m_pro .ref .cnt{padding:10px;background:#0A0011}
#m_pro .basic td{color:#666;font-size:14px}
#m_pro .basic .tit{font-weight:bold}
#m_pro .basic a:hover{padding:1px;background:#261CDC;color:#0A0011;text-decoration:none}
#m_pro .basic a.nlk:hover{padding:0px;color:#196CCA;background-color:#0A0011;text-decoration:underline}
#m_pro .pline{margin-left:5px;margin-top:10px;line-height:10px;border-top:1px dashed #A6A6A6}
#m_pro .pitem{margin-left:5px;line-height:22px;font-size:14px}
#m_pro .pitem .tit{color:#666}
#m_pro .pitem a:hover{padding:1px;background:#261CDC;color:#0A0011;text-decoration:none}

/******相册区域******/
#m_album div.image{text-align:center}
#m_album div.page{color:#808080;font-size:12px;text-align:center}
#m_album div.page a{color:#808080;font-size:12px}
#m_album div.page a:visited{color:#808080}
#m_album .phpage{margin-top:10px;padding-bottom:5px;text-align:center}

/******我的相关链接区域******/
#mod_links.mod{} /*自定义模块标题*/
#m_links{padding:30px 10px 10px 10px} /*自定义模块区域背景*/
#m_links div.item a{color:#777777;font-size:13px;font-weight:bold}
#m_links div.item{margin-left:5px;padding-left:10px;color:#444444;font-size:10px;background:url(http://imgsrc.baidu.com/css/pic/item/05f9dd8258cff09cf703a6ae.jpg) no-repeat -8px -10px;}/*区域子项背景*/
#m_links div.item a:visited{color:#777777}
#m_links DIV.line {BORDER-TOP: #777777 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px} /*分界线*/

/******公告榜1******/
#mod_mylink1.mod{} /*自定义模块标题*/
#m_mylink1{padding:30px 10px 10px 10px} /*自定义模块区域背景*/
#m_mylink1 div.item a{color:#777777;font-size:13px;font-weight:bold}
#m_mylink1 div.item{margin-left:5px;padding-left:20px;color:#444444;font-size:10px;background:url(http://imgsrc.baidu.com/css/pic/item/05f9dd8258cff09cf703a6ae.jpg) no-repeat -8px -10px;}/*区域子项背景*/
#m_mylink1 div.item a:visited{color:#777777}
#m_mylink1 DIV.line {BORDER-TOP: #777777 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px} /*分界线*/

/******幻彩链接2******/
#mod_mylink2.mod{} /*自定义模块标题*/
#m_mylink2{padding:30px 10px 10px 10px} /*自定义模块区域背景*/
#m_mylink2 div.item a{color:#777777;font-size:13px;font-weight:bold}
#m_mylink2 div.item{margin-left:5px;padding-left:30px;color:#444444;font-size:10px;background:url(http://imgsrc.baidu.com/css/pic/item/05f9dd8258cff09cf703a6ae.jpg) no-repeat -8px -10px;}/*区域子项背景*/
#m_mylink2 div.item a:visited{color:#777777}
#m_mylink2 DIV.line {BORDER-TOP: #777777 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px} /*分界线*/

/******好友居3******/
#mod_mylink3.mod{} /*自定义模块标题*/
#m_mylink3{padding:30px 10px 10px 10px} /*自定义模块区域背景*/
#m_mylink3 div.item a{color:#777777;font-size:13px;font-weight:bold}
#m_mylink3 div.item{margin-left:5px;padding-left:30px;color:#444444;font-size:10px;background:url(http://imgsrc.baidu.com/css/pic/item/05f9dd8258cff09cf703a6ae.jpg) no-repeat -8px -10px;}/*区域子项背景*/
#m_mylink3 div.item a:visited{color:#777777}
#m_mylink3 DIV.line {BORDER-TOP: #777777 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px} /*分界线*/

/******我的作品总集4******/
#mod_mylink4.mod{} /*自定义模块标题*/
#m_mylink4{padding:30px 10px 10px 10px} /*自定义模块区域背景*/
#m_mylink4 div.item a{color:#6F6F6F;font-size:13px;font-weight:bold}
#m_mylink4 div.item{margin-left:5px;padding-left:28px;color:#333333;font-size:10px;background:url(http://imgsrc.baidu.com/css/pic/item/05f9dd8258cff09cf703a6ae.jpg) no-repeat -8px -10px;}/*区域子项背景*/
#m_mylink4 div.item a:visited{color:#6F6F6F}
#m_mylink4 DIV.line {BORDER-TOP: #6F6F6F 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px} /*分界线*/

/******文章分类区域******/
#m_artclg div.item a{color:#808080;font-size:13px;font-weight:bold}
#m_artclg div.item{margin-left:5px;padding-left:30px;color:#A2A2A2;font-size:13px;background:url(http://imgsrc.baidu.com/css/pic/item/a2ef1d9015cdc981a877a4ae.jpg) no-repeat -6px -10px;}/*区域子项背景*/
#m_artclg div.item a:visited{color:#808080}
#m_artclg DIV.line {BORDER-TOP: #555555 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px} /*分界线*/

/******文章存档区域******/
#m_filed div.item a{color:#808080;font-size:13px;font-weight:bold}
#m_filed div.item{margin-left:5px;padding-left:30px;color:#A2A2A2;font-size:13px;background:url(http://imgsrc.baidu.com/css/pic/item/a2ef1d9015cdc981a877a4ae.jpg) no-repeat -6px -10px;}/*区域子项背景*/
#m_filed div.item a:visited{color:#808080}
#m_filed DIV.line {BORDER-TOP: #555555 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px} /*分界线*/

/******最新评论区域******/
#m_comment div.item a{color:#CCCCCC;font-size:13px}
#m_comment div.item{margin-left:0px;padding-left:0px;color:#808080;font-size:5px;background:      no-repeat -56px 10px;}/*区域子项背景*/
#m_comment div.item a:visited{color:#CCCCCC}
#m_comment DIV.item A.cnt {FONT-SIZE:10px; COLOR:#808080;}
#m_comment DIV.item A.cnt:visited {COLOR:#CCCCCC;}
#m_comment DIV.item A.cnt:hover {COLOR:#808080;font-weight:bold}
#m_comment DIV.line {BORDER-TOP: #555555 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px} /*分界线*/

/******相册内部******/
#m_albumlist{width:900px;padding-top:10px;} /*相册区域背景*/
#m_albumlist div.note{color:#808080;font-size:14px}
#m_albumlist div.desc{margin-bottom:12px;padding:3px 10px 3px 10px;line-height:22px;background-color:#808080;font-size:14px}
#m_albumlist div.none{padding:100px 0 100px 0;color:#808080;font-size:14px}
#m_albumlist div.line{margin-top:10px;line-height:16px;border-top:1px solid #808080}
#m_albumlist div.tit{margin:6px 0 7px 0 ;color:#808080;font-size:14px}
#m_albumlist div.tit a{color:#808080;font-size:14px}
#m_albumlist div.tit a:visited{color:#808080}
#m_albumlist span.count{color:#808080;font-size:12px;font-weight:bold}
#m_albumlist span.size{color:#808080;font-size:12px;font-family:Arial}
#m_albumlist a.act{color:#808080;font-size:12px}
#m_albumlist a.act:visited{color:#808080}
#m_albumlist a.page{color:#808080;font-size:14px}
#m_albumlist a.page:visited{color:#808080}
#m_albumlist td.image{padding:5px;border:1px solid #808080;background:#FFFFFF}
#m_albumlist .phbox{margin-top:15px;margin-left:15px}
#m_albumlist .phbox .phpage{color:#808080;font-size:14px}
#m_albumlist .phbox .phinfo{margin:6px 0 2px 0;color:#808080;font-size:12px}
#m_albumlist .phbox .phimg{margin-bottom:10px}

/******好友列表******/
#m_friend div.filter{margin-bottom:10px;padding-left:10px;padding-top:10px;height:27px;line-height:27px}
#m_friend div.catalog{margin-bottom:10px;padding-left:10px;height:27px;line-height:27px;background-color:#808080;font-size:14px}
#m_friend div.user{margin-top:4px;color:#808080;font-size:12px}
#m_friend div.user a{color:#808080;font-size:12px}
#m_friend div.user a:visited{color:#808080}
#m_friend div.line{margin-top:10px;line-height:16px;border-top:1px solid #808080}
#m_friend a img{filter:gray(enabled=1);} /*好友头像*/ 

/******设置访问统计,模板设置******/
#m_setting a{color:#808080}
#m_setting a:visited{color:#808080}
#m_setting{line-height:22px;color:#808080;font-size:14px}
#m_setting img.sel{border:4px solid #808080}
#m_setting img.unsel{border:1px solid #808080}
#m_setting span.tit{font-size:14px}
#m_setting span.usr{color:#808080}
#m_setting div.sel{padding-top:6px;font-size:14px;font-weight:bold}
#m_setting div.line{margin-top:20px;line-height:16px;border-top:1px solid #D2E9F4}

/******系统公告******/
#m_sysinfo a{color:#808080}
#m_sysinfo a:visited{color:#808080}
#m_sysinfo{line-height:22px;color:#808080;font-size:14px}
#m_sysinfo span.new{color:#808080;font-size:10px;font-family:Arial}
#m_sysinfo span.date{color:#808080;font-size:14px}

/******基本选项******/
#m_setbase{color:#808080;font-size:14px}
#m_setbase td{color:#808080;font-size:14px}
#m_setbase div.line{margin-top:5px;line-height:8px;border-top:1px solid #808080}

/******内部网友评论区域******/
#in_comment{width:710px}
#in_comment div.tit{margin-bottom:12px;color:#808080;font-size:14px;font-weight:bold}
#in_comment div.user{margin-bottom:10px;color:#808080;font-size:12px}
#in_comment div.user a{color:#808080;font-size:12px}
#in_comment div.user a:visited{color:#808080}
#in_comment div.user span.date{color:#808080;font-size:12px}
#in_comment div.desc{color:#808080;font-size:12px}
#in_comment div.line{BORDER-TOP: #808080 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px}
#in_comment td.index{width:40px;padding-top:10px;color:#BBBBBB;font-size:12px;font-weight:bold;font-family:Georgia;} /*评论序号*/  
#in_comment td.cnt span.date{color:#BBBBBB;font-size:12px;}/*评论时间*/

/******最近访客区域******/
#m_track {color:#808080;font-size:12px}
#m_track a{color:#808080;font-size:12px}
#m_track a:visited{color:#808080}
#m_track a img{filter:gray(enabled=1);}/*头像图片链接*/  
#m_track a:hover img{border:2px solid #D14A00;filter:gray(enabled=0);} /*图片悬停效果*/ 

/******百度搜索区域******/ 
#m_search {}
#m_search input.text{}
#m_search input.radio{}
#m_search input.submit{}

/******留言板内部页面******/
#in_msg{width:710px}  
#in_msg div.tit{margin-bottom:12px;color:#808080;font-size:14px;font-weight:bold}
#in_msg .item td.index{width:40px;font-weight:bold;color:#BBBBBB;font-size:12px;font-weight:bold;font-family:Georgia;} /*评论序号*/
#in_msg .item div.user{width:150px;color:#808080}
#in_msg .item div.user a{color:#808080;font-size:12px}
#in_msg .item div.user a:visited{color:#808080}
#in_msg .item div.user img{margin-bottom:5px}
#in_msg .item td.cnt a{color:#808080;font-size:12px}
#in_msg .item td.cnt a:visited{color:#808080}
#in_msg span.date{color:#BBBBBB;font-size:12px}
#in_msg div.desc{margin-top:5px;color:#808080;font-size:12px}
#in_msg div.line{BORDER-TOP: #808080 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px}
#spBCmtText{background:url(http://imgsrc.baidu.com/css/pic/item/c15a1dedc0bd31d8b21cb1ae.jpg) no-repeat}

/******百度搜藏区域******/
#m_cang div.item{color:#808080;font-size:12px}
#m_cang div.item a{color:#808080;font-size:12px;text-decoration:none}
#m_cang div.item a:visited{color:#808080}
#m_cang div.line{}

/*好友最新文章模块*/ 
#m_friblog div.item{color:#CCCCCC;font-size:15px}
#m_friblog div.item a{color:#CCCCCC;font-size:10px}
#m_friblog div.item a:visited{color:#CCCCCC}
#m_friblog div.item a.cnt{color:#6F6F6F;font-size:10px;text-decoration:none}
#m_friblog div.item a.cnt:visited{color:#CCCCCC;text-decoration:none}
#m_friblog div.item a.cnt:hover{color:#CCCCCC;text-decoration:underline}
#m_friblog div.line{BORDER-TOP: #777777 1px dashed; MARGIN-TOP: 10px; LINE-HEIGHT: 10px}
#m_friblog a img{filter:gray(enabled=1);} /*好友头像的滤镜效果,其他滤镜效果*/

/******播放器样式******/
#phx{FILTER: Alpha(Opacity=100,FinishOpacity=10,Style=2,StartX=20,StartY=40,FinishX=0,FinishY=0)gray(); WIDTH:185px; HEIGHT:32px} 

a:active { text: (target="_blank");}

/******日历样式******/
#mod_cals.mod{background:      no-repeat 26px 10px;margin-top:-15px;} /*日历标题*/
#cals{border:10px!important;background:none!important;} /*日历主体*/
#m_cals.modbox{width:213px;height:185px;margin:0px 0px 0px 0px;} /*日历模块*/
#cals .cal_yr table{} /*年月栏*/
#cals .cal_yr td{} /*年月单元格*/
#cals .yr_normal,#cals .mth_normal{border:0px!important;} /*年月选择器*/
#cals .yr_sel,#cals .mth_sel{border:0px!important;background:none!important;} /*年月选择器悬停*/
#cals .cal_roll{border:1px solid #000000!important;background:#DDD!important;} /*年月选择列表*/
#cals .cal_roll .normal{} /*年月选择列表正常*/
#cals .cal_roll .msover{background:#EEE!important;} /*年月选择列表悬停*/
#cals .cal_yr .cal_pre{background:url(http://imgsrc.baidu.com/css/pic/item/e3f7d118ddb460b84bedbcae.jpg) no-repeat center center!important;} /*上一月箭头*/
#cals .cal_yr .cal_pre_ovr{background:url(http://imgsrc.baidu.com/css/pic/item/51037973641a09108601b0ae.jpg) no-repeat center center!important;} /*上一月箭标悬停*/
#cals .cal_yr .cal_nxt{font-size:8px;background:url(http://imgsrc.baidu.com/css/pic/item/a8f2d00153453dda267fb5ae.jpg) no-repeat center center!important;} /*下一月箭头*/
#cals .cal_yr .cal_nxt_ovr{font-size:8px;background:url(http://imgsrc.baidu.com/css/pic/item/ba65d0d6d3b1242306088bae.jpg) no-repeat center center!important;} /*下一月箭头悬停*/
#m_cals.modbox td{line-height:8px;color:#502600;font-family:Georgia;font-size:10px;text-decoration:none;} /*日期栏*/
#cals .cal_week td{color:#EEE!important;} /*日期栏标题*/
#cals .today{border:0px!important;background:none!important;color:#D14A00!important;} /*今日*/
#cals .cal_date{} /*普通日期*/
#cals *.cal_active{} /*有更新的日期*/
#cals *.cal_select{border:0px!important;background:none!important;color:#D14A00!important;font-weight:bold!important;} /*有更新的日期悬停*/

/******空间底部******/
#ft{} /*baidu版权信息,不可更改*/

/******评论输入框******/
#spBlogCmtText {border: 1px solid #BBBBBB; 
background:url(http://imgsrc.baidu.com/css/pic/item/c15a1dedc0bd31d8b21cb1ae.jpg) no-repeat top center; 
background-attachment: fixed;

 