/* @group Improve type */

body {
	font-size: 12pt;
	line-height: 20pt;
}

/* @end Improve type */

/* @group hide furniture and interaction */

#contact,
#nav,
a.cycler {
	display: none;
}


.hasJS #polaroid {
	position: relative;
	overflow: visible;
	width: auto;
}
.hasJS #polaroid ul {
	width: auto;
	min-width: inherit;
	max-width: inherit;
	position: static;
}
.hasJS #polaroid li {
    float: none;
}

/* @end hide furniture */

/* @group link colours */

a:link,
a:visited,
a:hover,
a:focus,
a:active {
	color: #693;
}

/* @end link colours */
