body {
	font-size : 12px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin : 0px;
	word-wrap:  break-word;
	
}

a:visited,
a:active,
a:link {	
	color : #00F;
	text-decoration : none;
}

a:hover {
	text-decoration : underline;
}

h1 {	
	margin : 0px;
	font-size : 1.5em;
}

h1 a:visited,
h1 a:active,
h1 a:link {
	color : #000;
}

h1 a:hover {
	color : #47F;
	text-decoration : none;
}

h2 {
	margin-top : 10px;
	font-size : 1em;
}

h5 
{
	margin: 0px;
	padding: 0px;
}

#top {
	padding : 10px;
	background-color : #ADF;
	color : #000;
	border-bottom : 4px solid #47F;
}

#tagline {
	font-size : 0.8em;
	margin : 0px;
}

p.date img {
	vertical-align : middle;
}

p.date {
	font-size : 0.9em;
	font-weight : bold;
	border-bottom : 1px solid #AAA;	
	margin-bottom : 0px;
	padding : 2px 0px;
}

blockquote {
	font-style : italic;
}

#main.post
{
	line-height:150%;
}

p
{
	line-height:150%;
}

p.postfoot {
	font-size : 0.75em;
}

#leftmenu {
	position : absolute;
	left : 10px;
	margin-top : 10px;
	width : 180px;
}

#leftmenu h3,
#rightmenu h3 {
	font-size : 0.9em;
	margin : 0px;
	padding : 4px;
	border-bottom : none;	
}

#leftmenu ul,
#rightmenu ul {
	list-style : none;
	margin : 0px;
	padding : 0px;
	margin-left : 5px;
	margin-bottom : 10px;
	font-size : 0.8em;
}

#rightmenu {
	width : 180px;
	position : absolute;
	right : 0px;
	margin-top : 10px;
}

#main {
	margin : 0px 200px 0px 200px;
	background-color : #EEE;
	padding : 10px;
	border-left : 1px solid #555;
	border-right : 1px solid #555;
	border-bottom : 4px solid #47F;
}

#footer {
	margin : 0px;	
	padding-top : 5px;
	text-align : center;
	font-size : 0.7em;
}

input.text {
	width : 300px;	
}

textarea {
	width : 300px;
	height : 200px;
}

#comments h4 span {
	color : #999;
}

#comments h4 {
	margin : 0px;
	font-size : 0.9em;
}

p {
	margin : 10px 0px;
}

h3 {
	font-size : 1.2em;
	border-bottom : 1px solid #AAA;
}

#relatedlinks ul {
	list-style : none;
	margin-left : 10px;
	padding : 0px;
}

.Cal
{
	border : 1px solid #999999;
	width:100%;
	font-family:Arial;
	font-size: 12px;
	margin-top:10px;
	margin-bottom:10px;
	height:180px;
	background-color:#EEEEEE;
	 	
}

.CalTitle
{
	background-color : #B6B6B6;
	border-color:#ADF;
	font-family:Arial;
	font-size: 13px;
	color : #000;	
	margin-left : 0px;
	padding : 0px;
	height:100%;
	font-weight:bold;
}

.CalOtherMonthDay
{
	color:#808080;
	
}

.CalSelector
{
	
}

.CalNextPrev
{
	
}

.CalDayHeader
{
	background-color:#CCCCCC;
	
}

.CalSelectedDay
{
	
}

.CalWeekendDay
{
	
}

.CalTodayDay
{
	background-color:#CCCCCC;
}

/* Powered by 爱晚红枫 Hnubbs.Net */

/* 深邃的内心 自由自我 */

/* xiang.cnblogs.com */

body,td,tr {

font-size:0.9em;
font-family:Verdana,宋体;
}


h1 a:visited,
h1 a:active,
h1 a:link {
	color : #000;
}

h1 a:hover {
	color : #093;
}

a:visited,
a:active,
a:link {
	color : #093;
}

#top {  background-image: url("images/o_xiang.jpg");background-repeat: no-repeat;
        height:225px;
	background-color : #CEA;
	color : #000;
	border-bottom : 4px solid #093;
                
}

#Header1_HeaderTitle {  position: absolute; right: 50px; top: 50px; }
#tagline{  position: absolute; right: 55px; top:85px;color:#093;font-weight:bold;}

p.date {display:none !important;
	border-bottom : 1px solid #AAA;	
}


p.postfoot {text-indent : 50px;
                font-size:11.5px;
                border-bottom : 1px solid  #093;	
}

#main {
	background-color : #EEE;
	border-bottom : 4px solid #093;
}

#comments h4 span {
	color : #999;
}

.leftmenu{
                font-size:12px;
                border-bottom : 1px solid  #093;	}

leftmenu a:visited,
leftmenu a:active,
leftmenu a:link {
                font-size:11.5px;
	        color : #000;
}

leftmenu a:hover {
               font-size:11.5px;
	       color : #093;
                 }

h3 {background-image: url("images/o_dh.gif");border-bottom:1px solid #AAA;text-align:center;}

h2 {background-image: url("images/o_dot.gif");background-repeat: no-repeat;background-position: 2%;text-indent : 50px;}

