/*top*/

body {FONT-FAMILY: Arial, Helvetica, sans-serif;}
h1 { font-size: 12px; margin: 0; padding: 0;}
#header,#divalign,.headerinfolist,#footer{ margin:0px auto; height:auto; padding:0px;}
p,img,ul,h4,.headerinfo1,.headerinfo2,.headerinfo3{ margin:0px; padding:0px; list-style:none;border:0px; }
.headerinfo2,.headerinfo3,.msghiddendiv{ clear:both; overflow:auto;}
#footer{clear:both; overflow:hidden;}
#header,#divalign,#footer{ width:999px;}
img{ border:0px;}
.uleft{ float:left;}
.uright{ float:right;}

/*top*/
#divalign{_padding-right:10px;}
.headerinfo1{margin:0px auto; height:auto; width:100%; background:url(images/top_bg1.gif) no-repeat left center;}
.headerinfo1column{ margin:0px 10px 0px 10px; padding:0px; width:979px; height:26px; line-height:26px; text-align:right;background:url(images/top_bg2.gif) repeat-x left center; }

.headerinfo2{width:990px;  padding:5px;}

.headerinfo2ad{margin-right:10px;}
.headerinfo3{width:987px; margin-left:1px; padding:0px 5px; height:21px; line-height:21px; background:url(images/top_bg3.gif) repeat-x left center;}
.headerinfolist{width:92%; padding-left:0px;}
/*msg*/

.msghiddendiv{margin:10px 0px; width:100%;}.msghiddendiv h4{ font-size:14px; color:#fff;}
.msghiddendiv .title1{ float:left; }
.msghiddendiv .title2{ float:right; padding-right:5px; }
.msghiddendiv1{ background:url(images/content_list2_bgm.gif) repeat-x left top; width:100%; height:31px; line-height:31px; text-align:center;}
.msghiddendiv2{ float:left; overflow:hidden; background:url(images/content_list2_bgl2.gif) no-repeat left top; width:10px; height:31px;}
.msghiddendiv3{ float:right; overflow:hidden; background:url(images/content_list2_bgr2.gif) no-repeat left top; width:10px; height:31px;}
.msghiddendiv4{ width:977px; padding:5px 10px; border:1px solid #DADADA;}
.msgulstyle1 li{ width:937px; margin:0px 10px; border-bottom:1px dotted #ddd; height:22px!important;>height:20px!important; line-height:22px; text-align:right; background:url(images/message_1.gif) no-repeat left center; padding-left:20px; }
.msgulstyle1 li span{ padding-right:5px;}
.msgulstyle1 li .p1{ width:650px; padding-right:10px; text-align:left;}
.msgulstyle1 li .p2{ width:150px; padding-right:5px; text-align:center;}


/*foot*/
#footer{ margin-top:20px; height:100px; }
.footcontent{ margin:0px; padding:10px; background:#fff; }

.ulstyle1 li{display:inline;}
.ulstyle2 li{float:left; margin:0px; padding-left:2px; height:25px; overflow:hidden; background:url(images/top_alin_bg.gif) no-repeat left top; text-align:center;}
.ulstyle2 li a{ float:left; padding:0px 10px; font-weight:bold;}
.ulstyle2 li a:hover{float:left; padding:0px 10px; background:url(images/top_ahover_bg.gif) repeat-x left top;font-weight:bold;}
.ulstyle2 .litigs{float:left; margin:0px; padding:0px; height:25px; width:2px;}

.a1 a{ color:#005e8c; padding-left:1px; text-decoration:none;}/*深蓝*/
.a1 a:hover,.ulstyle2 li a,.msga1 a{ color:#fff; text-decoration:none;}/*白色*/
.a2 a{ color:#005e8c; padding:0 3px; text-decoration:none;}/*深蓝padding3*/
.a2 a:hover,.ulstyle2 li a:hover,.msga1 a:hover,.msga2 a{ color:#000; text-decoration:none;}/*黑色*/
.msga2 a:hover{color:#005e8c; text-decoration:underline;}

/*submenu*/
.submenu {width:150px;}
.submenu li{height:25px;line-height:25px; border-bottom:1px solid #fff;}
.submenu span{padding-right:5px;color:#fff;}
.submenu a{padding:25px 20px 25px 10px; background:#a6ddfa; color:#005e8c; text-decoration:none;}/*深蓝*/
.submenu a:hover{color:#fff; background:#31a5e1; text-decoration:none;}/*黑色*/

/*rotundity e9e9e9*/
#footer .ucontent{clear:both; overflow:auto; width:987px; padding:0px 6px; background:#e9e9e9;}
#footer .u1 {clear:both; overflow:auto;height:1px; font-size:1px; overflow:hidden; display:block; background:#e9e9e9; margin:0 5px;}
#footer .u2 {clear:both; overflow:auto;height:1px; font-size:1px; overflow:hidden; display:block; background:#e9e9e9;
border-right:2px solid #e9e9e9; border-left:2px solid #e9e9e9; margin:0 3px;}
#footer .u3 {clear:both; overflow:auto;height:1px; font-size:1px; overflow:hidden; display:block; background:#e9e9e9;
border-right:1px solid #e9e9e9; border-left:1px solid #e9e9e9; margin:0 2px;}
#footer .u4 {clear:both; overflow:auto;height:2px; font-size:1px; overflow:hidden; display:block; background:#e9e9e9;
border-right:1px solid #e9e9e9; border-left:1px solid #e9e9e9; margin:0 1px;}
/*rotundity color:fff*/
#footer .u5 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff; margin:0 5px;}
#footer .u6 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff;
border-right:2px solid #fff; border-left:2px solid #fff; margin:0 3px;}
#footer .u7 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff;
border-right:1px solid #fff; border-left:1px solid #fff; margin:0 2px;}
.u8 {height:2px; font-size:1px; overflow:hidden; display:block; background:#fff;
border-right:1px solid #fff; border-left:1px solid #fff; margin:0 1px;}




#time-nav {
margin : 0px auto 0px auto;
width : 999px;
}
#footer .nav5 {
	PADDING-LEFT: 10px; BACKGROUND: url(images/copyright-bg.jpg) repeat-x left top; COLOR: #333; HEIGHT: 54px
}


#footer .Fleft {
	MARGIN-TOP: 15px; PADDING-LEFT: 51px; BACKGROUND: url(images/copyright-dot.gif) no-repeat left center; FLOAT: left; MARGIN-LEFT: 6px; LINE-HEIGHT: 14px; TEXT-ALIGN: left
}
#footer .Fleft .copy {
	FONT-SIZE: 10px; COLOR: #ccc
}
#footer .Fleft SPAN {
	FONT-SIZE: 10px; COLOR: #666
}
#footer .Fleft IMG {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.Fleft A {
	COLOR: #666
}
#footer .Fright {
	FLOAT: right; MARGIN-RIGHT: 0px
}
#footer .gototop {
	MARGIN-TOP: -1px; LEFT: 0px!important;>LEFT: 46px!important; MARGIN-BOTTOM: 8px; MARGIN-RIGHT: 0px; POSITION: relative; TOP: 0px; TEXT-ALIGN: right
}


/*QuickSearch*/
#search { padding-left: 78px; }
	#searchbar { border: 1px solid #ccc; height: 26px; margin-right: 0px; line-height: 24px; width: 408px;  background:#FFF;}
		#searchbar dt,#searchbar dd { float: left; margin-left:0px;}
		#searchbar .s2{ background: #FFF url(images/dot-down.gif)  no-repeat right center; width: 80px; color: #090; text-align: center; line-height: 26px; }
		#searchbar .text{ width: 110px; text-indent: 2px; border: 0; padding: 0.2em 0; }
			*html #searchbar .text { width: 108px; }
			*+html #searchbar .text { width: 108px; }
		#searchbar .textinput {border-right:1px solid #CCC;}
		#searchbar .s3{ width: 28px; height: 26px; background: #fff url(images/button-search.gif)  no-repeat 100% 0; border: 0; }
		.searchmenu { background-color: #F5FAFE; padding: 4px; width: 75px; text-align: center; border: 1px solid #ccc; border-top: 0;}
/*QuickSearch*/


/*menu*/
#menubar{ clear:both; border: 1px solid #E8E8E8; background: url(images/menu_bg.gif) repeat-x left top; height: 34px; line-height: 34px; margin-bottom:8px;}
	#menubar .selectmode{ float: left; border-left: 2px solid #fff; }
		#menubar .selectmode a{ background: url(images/celan.gif) no-repeat 18px 45%; padding-left: 38px; }
	#menubar ul { float: right; }
		#menubar li { float: left; padding: 0 8px; text-align: center; background: url(images/menu_line.gif) no-repeat 100% 50%; }
			#menubar li a, #menubar li a:link { display: block; color: #333; }
			#menubar li a:hover,#menubar a:hover { color: #258DC9; text-decoration: none; }
				#menubar .noground{ background: none; }
			a.mycontent{ text-align: left; padding: 0 2px; width: 40px; }
			.ntdropmenu{ width: 80px; border: 1px solid #D7E3F2; border-top: none; background: #F5FAFE; text-align: center; }
				.ntdropmenu a{ display: block; height: 24px; line-height: 24px; margin: 0 2px; border-bottom: 1px solid #D7E3F2; }
				.ntdropmenu a:link,.ntdropmenu a:visited{ color: #333; text-decoration: none; }
				.ntdropmenu a:hover,.ntdropmenu a:active{ color: #AABE04; text-decoration: none; }
/*menu*/


/*foruminfo*/
#foruminfo { clear: both; margin-bottom: 8px; }
/*\*/ * html #foruminfo { /**/ height: 1%; }*>#foruminfo { overflow: hidden; }
	#foruminfo  a{ color:#666; text-decoration:none;}
	.userinfo { float: left; padding-left: 3px; /*margin-right: 315px;*/ }
	.forumstats,.focusstats{ float: right; width: 490px; }
	.focusstats { width: auto; }
		.userinfo h2 { font-weight: bold; line-height: 28px; }
		.userinfo em { color:#1F90CF;}
		.forumstats ul { float: right; white-space: nowrap; margin-top: 3px; }
			.forumstats ul li { float: left; text-align: center; background: url(images/menu_line.gif) no-repeat 100% 50%; padding:0 4px; }
			#foruminfo span a,#foruminfo strong{ background: url(images/dot-postiont2.gif) no-repeat 0 50%; padding-right: 5px; padding-left: 10px; margin-left: 5px; }
			#foruminfo strong img{ vertical-align: middle; }
			#foruminfo strong strong{ background: none; }
			.forumstats .lastitem { text-align: center; width: 25px; background: none; }
	*+html .navhomemenu { width: 358px; }
	#homewindow{ border: 1px solid #B4C9E0; overflow: hidden; background-color: #F5FAFE; padding: 5px; width: 330px!important; width: 350px; text-align: left; }
	*+html #homewindow{ width: 340px; }
		#homewindow dl{ margin: 0; padding: 0; }
		#homewindow dt { clear: both; color: #A9C1DC; line-height: 28px; margin: 0 1em; }
		#homewindow dd { overflow: hidden; float: left; width: 7em; line-height: 20px; height: 20px; margin: 0em 1em; }
			#homewindow dt a:link,#homewindow dt a:visited{ color:#A9C1DC; text-decoration:none;}
			#homewindow dt a:hover,#homewindow dt a:active,#homewindow dd a:hover,#homewindow dd a:active{ color:#1F90CF; text-decoration:underline;}
			#homewindow dd a:link,#homewindow dd a:visited{ color:#333; text-decoration:none;}
/*foruminfo*/



#netPolice {width:900px; margin:auto;}
.spanIdentify{color:#036}
.spanRated{color:#036}
