<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		#*设b为blog对象，以下雷同*#
		#set ( $b = $blog )
		#set ( $TC= $topicCategoryList )
		#set ( $AC = $albumCategoryList )
		#set ( $TCT = $topicCommentList )
		#set ( $ACT = $albumCommentList )
		#set ( $L = $linkList )
		#set ( $entries = $list )
		#set ( $nextPage = $page+1 )
		
	<title>$b.title</title>
#parse("/commons/header.html")
	</head>
	<body>

#parse("/commons/nav.html")

<div id="main" align="left" style="width:200px">

  <h2  style="text-align:center">用户登录</h2>
		<form method="post" id="searchform" action="/portal.ejf?cmd=login">
		  <div>
				 用户名:
				   <input name="userName" type="text" id="userName" style="width:60%" />
			     <br />
				   密　码:
				   <input name="password" type="password" id="password" style="width:60%" />
			     <br />
				　　　
				<input type="submit" id="searchsubmit" value="登录" />				　
        <input name="register" type="button" id="register" value="注册"  onclick="location.href='portal.ejf?cmd=register'"/>
		  </div>
		</form>

</div>
#parse("/commons/footer.html")
</body>
</html>