<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>		
	<title>$blog.title</title>
#parse("/commons/header.html")
	</head>
	<body>

#parse("/commons/nav.html")

<div id="main" align="left" style="width:500px">
  <h2  style="text-align:center">用户注册</h2>
		<form method="post" id="searchform" action="/portal.ejf?cmd=saveRegister">
		  <div>
				 用户名:
				   <input name="name" type="text" id="name"/>
			     $!errors.name<br />
				   密　码:
				   <input name="password" type="password" id="password" />
			     $!errors.password<br />
				   邮　件:
				   <input name="email" type="text" id="email" />
			     $!errors.email<br />
				简　介:
				  <textarea name="intro" cols="30" rows="3"   ></textarea>
			     <br />　
				<input type="submit" id="submitBtn" value="提交" />
			
				　
        <input name="resetBtn" type="reset" id="resetBtn" value="重置"  onclick="location.href='portal.ejf?cmd=register'"/>
		  </div>
  </form>

</div>
#parse("/commons/footer.html")
</body>
</html>