@charset "utf-8";
/* CSS Document */

body{ margin:0px auto; height:auto; padding:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
#mid,.bmain{margin:0px auto; height:auto; padding:0px;}
img,p,ul,table,tr,td,.h2,.h3,.h4,.bcontent,.bbslistinfo,.bbslistdiv,.rotundityinfo{ margin:0px; padding:0px; list-style:none;border:0px; }
img{ border:0px;}
.middiv,.bcontent,.newslistinfo2,.newslistinfo2img,.msg1,.bbslistdiv,.bbslistnav,.rotunditytitle,.rotundityinfo,.ulstyle7{clear:both; overflow:auto;}
.uleft{ float:left;}
.uright{ float:right;}
#mid,.bmain{ width:999px;}

/*content*/
.middiv{ margin-top:5px; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
/*top nwes*/
.newscontent1{ width:451px; height:291px; padding:2px;}
.newscontent2{ margin-left:3px; margin-bottom:5px; width:264px; background:#fff url(images/news_centerbg.gif) repeat-y left top;}
.newscontent2topbg{margin:0px; padding:0px; overflow:hidden; background:url(images/news_topbg.gif) no-repeat left top; width:264px; height:10px;}
.newscontent2footbg{ margin:0px; padding:0px;overflow:hidden; background:url(images/news_bottombg.gif) no-repeat left top; width:264px; height:7px;}
.newscontent2title{ margin:10px; width:92%; text-align:right; height:19px; border-bottom:1px solid #ddd; background:url(images/news_title_1.gif) no-repeat left top;}
.newscontent2title2{margin:10px; width:92%; text-align:right; height:19px; border-bottom:1px solid #ddd; background:url(images/news_title_2.gif) no-repeat left top;}
.newslistinfo2{ background:#f2eeee; padding:2px!important;padding:0px; _height:54px;}
.newslistinfo2img{ border:1px solid #d3d3d3; background-color:#fff; padding:2px;}
.newslistinfo2title{ margin-top:2px; width:65%;}

.msg1{ margin:5px 5px 0px 5px; background:url(images/news_msg_bgm.gif) no-repeat left top; width:99%; height:34px; line-height:34px; color:#fff;}
.msg1 table{margin:0px; padding:0px; clear:both; overflow:auto; width:99%; height:30px; line-height:30px;}
.msg1 strong{ padding-left:10px;}



.msg1div1{ float:left; background:url(images/news_msg_bgl.gif) no-repeat left top; width:5px; height:34px; overflow:hidden;}
.msg1div2{ float:right; background:url(images/news_msg_bgr.gif) no-repeat left top; width:5px; height:34px; overflow:hidden;}
/*bbs list*/
.bbslistdiv{ background:url(images/content_list_bg.gif) repeat-y left top; width:998px; border-bottom:1px solid #ddd; }
.bbslisttitle{ padding:10px 0px; background:url(images/content_listtop_bg.gif) no-repeat left top; width:40px; text-align:center; font-size:14px; color:#fff;}
.bbslisttitle strong{ font-weight:bold;}
.bbslistnav{ background:url(images/content_listtitle_bg.gif) repeat-x left top; width:958px; height:29px; line-height:29px;}
.bbslistnavrbg{ float:right; overflow:hidden; background:url(images/content_listright_bg.gif) no-repeat left top; width:8px; height:29px;}
.bbslistnav1{ padding:0px 239px;}
.bbslistnav2{ padding:0px 40px;}
.bbslistnav3{ padding:0px 10px;}
.bbslistnav4{ padding:0px 50px;}
.bbslistnav5{ padding:0px 45px;}
.bbslistinfo{overflow:hidden; border-right:1px solid #ddd;}
.listli1{width:38px; text-align:center; }
.listli2{width:480px;}
.listli3{width:80px;text-align:center;}
.listli4{width:80px;text-align:center;}
.listli5{width:120px;text-align:center;}
.listli6{width:155px;text-align:center;word-break:break-all;}
.listli2 img{ margin-top:2px;}
/*bbs list div*/
.bbslistdiv0{width:100%; clear:both; overflow:auto; margin-bottom:5px;}
.rotunditydiv{width:331px; float:left; margin-left:1px;}
.rotunditydiv2{width:662px; float:left; margin-left:1px;}
.rotunditydiv3{ width:995px; margin:0px 1px; }
.rotunditydiv3 h4{ text-align:left;}
.rotunditycontent{ overflow:hidden; background:#FFFFFF;}
.rotunditytitle{ background:url(images/content_list2_bgm.gif) repeat-x left top; width:100%; height:31px; line-height:31px; text-align:center;}
.rotunditytitlebg1{ float:left; overflow:hidden; background:url(images/content_list2_bgl.gif) no-repeat left top; width:10px; height:31px;}
.rotunditytitlebg2{ float:right; overflow:hidden; background:url(images/content_list2_bgr.gif) no-repeat left top; width:10px; height:31px;}
.rotundityinfo{ margin:0px 2px;}
.btu1{ text-align:right; margin:8px 5px 0px 5px!important;>margin:16px 5px 0px 5px!important;}
.btu1 strong{ border-bottom:1px solid #000;}
.rotundityinfoimg{ text-align:center;}
.rotundityinfoimg img{ width:325px;}
/*link*/
.link{margin:0px 2px; padding:10px 10px 0px 10px;}
.lininfo{margin:0px 10px; padding:2px 0px; line-height:20px; border-bottom:1px solid #DADADA; color:#666666;}
.lininfo span{ padding-right:5px;}
.imginfodiv{ margin:20px 333px; padding:2px; background:#E9E9E9; border:1px solid #DADADA; width:327px; height:68px;}
.imginfodiv1{ margin:0px; padding:20px 0px; background:#fff; text-align:center;}
.imginfodiv1 span{ padding-right:10px; color:#666;}
.imginfodiv2{ margin:0px 233px 20px 233px; padding:2px; width:527px; text-align:center; color:#666;}
.imginfodiv2 span{ color:#000;}

/*li*/
.ulstyle1 li{display:inline;}
.ulstyle2 li{float:left; margin:0px; padding-left:2px; height:25px; overflow:hidden; background:url(images/top_alin_bg.gif) no-repeat left top; text-align:center;}
.ulstyle2 li a{ float:left; padding:0px 10px; font-weight:bold;}
.ulstyle2 li a:hover{float:left; padding:0px 10px; background:url(images/top_ahover_bg.gif) repeat-x left top;font-weight:bold;}
.ulstyle2 .litigs{float:left; margin:0px; padding:0px; height:25px; width:2px;}
.ulstyle3 li{display:inline; margin-left:5px;}
.ulstyle4 li{ margin:4px 10px; text-align:left; width:92%; overflow:hidden;}

.ulstyle5{ width:957px; background:#fff; border-top:1px solid #ddd; line-height:18px;}
.ulstyle6{ width:957px; background:#f8f8f8; border-top:1px solid #ddd; line-height:18px;}
.ulstyle5,.ulstyle6{ color:#666;}
.ulstyle7{ margin-top:1px; padding:0px 2px; text-align:right; line-height:33px; border-bottom:1px solid #DADADA; }
.ulstyle7 strong{ padding-left:5px; font-size:13px; font-weight:bold;}
.ulstyle7 span{ font-size:12px;color:#666666;}
.ulstyle8 td{ width:80px; padding-top:8px; text-align:left;}
.ulstyle8 td p{ font-weight:bold;}
.ulstyle9 td{ width:250px; text-align:right; line-height:30px; color:#666666;}
.ulstyle10 td{ width:331px; text-align:right; line-height:30px; color:#666666;}
.ulstyle9 td strong,.ulstyle10 td strong{ float:left; font-weight:bold;font-size:13px;}
.ulstyle9 td span,.ulstyle10 td span{ padding-right:5px;}
.ulstyle8 td p,.ulstyle9 td p,.ulstyle10 td p{ margin:0px 5px; border-bottom:1px solid #DADADA;}

/*tips*/
.ralign{ padding-right:10px; text-align:right;}
.margintigs{ margin-top:15px;}
.margintigs2{ margin-top:5px;}
.col1,.a3 a{ color:#1f90cf;text-decoration:none;}/*淡蓝*/
.col2{ color:#afafaf; font-size:11px; font-family:Arial, Helvetica, sans-serif;}/*淡灰色*/
.col3{ color:#000;}

.h4{font-size:14px; color:#fff;}
.h3{ font-size:14px; padding-top:5px;}
.h2{ font-size:14px;}
.a1 a{ color:#005e8c; padding-left:1px; text-decoration:none;}/*深蓝*/

.a1 a:hover,.ulstyle2 li a,.a4 a:hover,.a9 a{ color:#fff; text-decoration:none;}

.a2 a{ color:#005e8c; padding:0 3px; text-decoration:none;}/*深蓝padding3*/
.a2 a:hover,.a3 a:hover,.ulstyle2 li a:hover,.ulstyle4 li a,.a5 a{ color:#000; text-decoration:none;}/*黑色*/

.ulstyle4 li a:hover,.a5 a:hover,.a6 a:hover,.a7 a:hover,.a8 a:hover,.a9 a:hover{color:#F78B00; text-decoration:none;}/*深蓝*/

.a4 a{ color:#644d1b;text-decoration:none; padding-right:2px;}/*msg深*/
.a6 a{ color:#666;text-decoration:none;}/*淡灰色*/
.a7 a{ color:#FE0204;text-decoration:none;}/*红色*/

/*rotundity*/
.bcontent{ width:100%; background:#2F3237;}
.b1 {height:1px; font-size:1px; overflow:hidden; display:block; background:#2F3237; margin:0 5px;}
.b2 {height:1px; font-size:1px; overflow:hidden; display:block; background:#2F3237;
border-right:2px solid #2F3237; border-left:2px solid #2F3237; margin:0 3px;}
.b3 {height:1px; font-size:1px; overflow:hidden; display:block; background:#2F3237;
border-right:1px solid #2F3237; border-left:1px solid #2F3237; margin:0 2px;}
.b4 {height:2px; font-size:1px; overflow:hidden; display:block; background:#2F3237;
border-right:1px solid #2F3237; border-left:1px solid #2F3237; margin:0 1px;}
/*rotundity too*/
.ucontent{clear:both; overflow:auto; width:997px; padding:0px 1px; background:#e9e9e9;}
.u1 {clear:both; overflow:auto;height:1px; font-size:1px; overflow:hidden; display:block; background:#e9e9e9; margin:0 5px;}
.u2 {clear:both; overflow:auto;height:1px; font-size:1px; overflow:hidden; display:block; background:#e9e9e9;
border-right:2px solid #e9e9e9; border-left:2px solid #e9e9e9; margin:0 3px;}
.u3 {clear:both; overflow:auto;height:1px; font-size:1px; overflow:hidden; display:block; background:#e9e9e9;
border-right:1px solid #e9e9e9; border-left:1px solid #e9e9e9; margin:0 2px;}
.u4 {clear:both; overflow:auto;height:2px; font-size:1px; overflow:hidden; display:block; background:#e9e9e9;
border-right:1px solid #e9e9e9; border-left:1px solid #e9e9e9; margin:0 1px;}
/*rotundity color:fff*/
.u5 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff; margin:0 5px;}
.u6 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff;
border-right:2px solid #fff; border-left:2px solid #fff; margin:0 3px;}
.u7 {height:1px; font-size:1px; overflow:hidden; display:block; background:#fff;
border-right:1px solid #fff; border-left:1px solid #fff; margin:0 2px;}
.u8 {height:2px; font-size:1px; overflow:hidden; display:block; background:#fff;
border-right:1px solid #fff; border-left:1px solid #fff; margin:0 1px;}

/*submenu*/
.submenu {width:150px;}
.submenu li{height:25px;line-height:25px; border-bottom:1px solid #fff;}
.submenu span{padding-right:5px;color:#fff;}
.submenu a{padding:25px 20px 25px 10px; background:#a6ddfa;color:#005e8c; text-decoration:none;}/*深蓝*/
.submenu a:hover{color:#fff; background:#31a5e1; text-decoration:none;}/*黑色*/


A {	COLOR: #036;	TEXT-DECORATION: none}



.onlineuser H4 STRONG {	COLOR: #3f4e5a}.onlineuser H4 EM {	PADDING-LEFT: 20px;	BACKGROUND: url(images/time.gif) no-repeat left center;	MARGIN-LEFT: 15px;	COLOR: #999;	FONT-FAMILY: Georgia,Tahoma, Verdana,sans-serif}.onlineuserlist {	BORDER-TOP: #e6eef7 1px solid;	PADDING-LEFT: 53px;	BACKGROUND: url(images/user.gif) no-repeat 10px 10px;	MARGIN: 0pt 4px}* HTML .onlineuserlist {	HEIGHT: 1%}* > .onlineuserlist {	OVERFLOW: hidden}.onlineuserlist DT {	COLOR: #3f4e5a;	LINE-HEIGHT: 30px;	BORDER-BOTTOM: #cedceb 1px solid}.onlineusernumber {	COLOR: #3f4e5a;	LINE-HEIGHT: 30px;	BORDER-BOTTOM: #cedceb 1px solid}* HTML .onlineuserlist DT {	PADDING-TOP: 4px}.onlineuserlist DT IMG {	MARGIN-BOTTOM: 3px;	VERTICAL-ALIGN: middle}.onlineusernumber STRONG {	PADDING-RIGHT: 4px;	PADDING-LEFT: 4px;	PADDING-BOTTOM: 0px;	COLOR: #069;	PADDING-TOP: 0px}.newuser {	PADDING-LEFT: 20px;	BACKGROUND: url(images/dot_newuser.gif) no-repeat left center;	PADDING-TOP: 3px}#online LI {	MIN-HEIGHT: 0px;	FLOAT: left;	WIDTH: 15%;	COLOR: #3f4e5a;	LINE-HEIGHT: 24px;	HEIGHT: 24px;	TEXT-ALIGN: left}#online LI IMG {	VERTICAL-ALIGN: middle;	MARGIN-RIGHT: 12px}#online .seelist {	FONT-WEIGHT: bold}


#online {height : 100%;}




#ucontent6acdf7{clear:both; overflow:auto; width:997px; margin:0px; padding:1px; background:#6acdf7;}
.u9 { clear:both; overflow:auto;height:1px; font-size:1px; overflow:hidden; display:block; background:#6acdf7; margin:0 5px;}
.u10 { clear:both; overflow:auto;height:1px; font-size:1px; overflow:hidden; display:block; background:#6acdf7;
border-right:2px solid #6acdf7; border-left:2px solid #6acdf7; margin:0 3px;}
.u11 { clear:both; overflow:auto;height:1px; font-size:1px; overflow:hidden; display:block; background:#6acdf7;
border-right:1px solid #6acdf7; border-left:1px solid #6acdf7; margin:0 2px;}
.u12 {clear:both; overflow:auto; height:2px; font-size:1px; overflow:hidden; display:block; background:#6acdf7;
border-right:1px solid #6acdf7; border-left:1px solid #6acdf7; margin:0 1px;}
#ucontent6acdf7 h3{ float:left; font:14px; color:#fff; margin-left:2px; padding:0px 5px;}
#ucontent6acdf7 h4{ float:right; font:14px; margin:0px; padding:5px 5px 0px 5px;}
#ucontent6acdf7 h4 a{ color:#fff; text-decoration:none}
#ucontent6acdf7 h4 a:hover{ color:#000; text-decoration:none}
#ucontent6acdf7 .ucontentstyle0{ float:left; margin-left:13px!important;>margin-left:9px!important;margin-left:5px; padding:0px;}
#ucontent6acdf7 .ucontentstyle0 .a1 a{ float:left;border-bottom:1px solid #fff; width:125px; height:25px; line-height:25px; text-align:center; background:url(/images/add_tagbg_1.gif) no-repeat left top; color:#005d90; font-weight:bold;}
#ucontent6acdf7 .ucontentstyle0 .a1 a:hover{float:left; width:125px; height:25px; line-height:25px; text-align:center; background:url(/images/add_tagbg_1.gif) no-repeat left top; color:#005d90; font-size:14px; font-weight:bold;}
#ucontent6acdf7 .ucontentstyle0 .a2 a{ float:left; margin-right:1px; border-bottom:1px solid #6acdf7; padding:0px; width:63px; height:25px; line-height:25px; text-align:center; background:url(/images/add_tagbg_2.gif) no-repeat left top; color:#005d90;}
#ucontent6acdf7 .ucontentstyle0 .a2 a:hover{float:left; margin-right:1px; padding:0px; width:63px; height:25px; line-height:25px; text-align:center; background:url(/images/add_tagbg_2.gif) no-repeat left top; color:#005d90;font-size:14px; font-weight:bold; }
#ucontent6acdf7 .ucontentstyle0 .a3 a{float:left; margin-right:1px; border-bottom:1px solid #6acdf7; width:125px; height:25px; line-height:25px; text-align:center; background:url(/images/add_tagbg_1.gif) no-repeat left top; color:#005d90;}
#ucontent6acdf7 .ucontentstyle0 .a3 a:hover{float:left; width:125px; height:25px; line-height:25px; text-align:center; background:url(/images/add_tagbg_1.gif) no-repeat left top; color:#005d90; font-size:14px; font-weight:bold;}
#ucontent6acdf7 .ucontentstyle0 .a4 a{float:left; margin-right:1px; padding:0px; border-bottom:1px solid #fff; width:63px; height:25px; line-height:25px; text-align:center; background:url(/images/add_tagbg_2.gif) no-repeat left top; color:#005d90;font-size:14px; font-weight:bold;}
#ucontent6acdf7 .ucontentstyle0 .a4 a:hover{float:left; margin-right:1px; padding:0px; border-bottom:1px solid #fff; width:63px; height:25px; line-height:25px; text-align:center; background:url(/images/add_tagbg_2.gif) no-repeat left top; color:#005d90;font-size:14px; font-weight:bold;}
#ucontent6acdf7 .ucontentstyle1{ float:right; width:955px;background: #fff url(/images/add_tagbg_4.gif) no-repeat left bottom; margin-right:2px; height:100px; }
#ucontent6acdf7 .ucontentstyle2{ float:right; background:url(/images/add_tagbg_3.gif) no-repeat right top; width:9px; height:9px;}
#ucontent6acdf7 .ucontentstyle3{ margin:0px; padding:3px;}
#ucontent6acdf7 .ucontentstyle3 ul{ margin:0px; padding:0px; list-style:none;}
#ucontent6acdf7 .ucontentstyle3 li{ float:left; margin:2px 3px; width:150px; line-height:20px;}
#ucontent6acdf7 .ucontentstyle3 li a span{ color:#005d90; padding-right:5px;}
#ucontent6acdf7 .ucontentstyle3 li a{ color:#1493e4; text-decoration:none;}
#ucontent6acdf7 .ucontentstyle3 li a:hover{ color:#000; text-decoration:none;}