.reg_stedit {
	border: 1px solid #BD9768;
	font-size: 12px;
	color: #5A392E;
	font-weight: lighter;
	height:18px;
}
body {
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: #5A392E;
}
a:link {
	color: #402820;
	text-decoration: none;
}
a:visited {
	color: #402820;
	text-decoration: none;
}
a:hover {
	color: #FFCC00;
	text-decoration: none;
}
a:active {
	color: #402820;
	text-decoration: none;
}


.STYLE1 {
	color: #453412;
	font-size: 18px;
	font-weight: bold;
}

.STYLE2 {
	font-size: 14px;
	color: #453412;
	font-weight: bold;
}

.STYLE3 {
	font-size: 14px;
	color: #453412;
}

.STYLE4 {
	font-size: 15px;
	color: #453412;
}

.STYLE6 {
	font-size: 12px;
	color: #453412;
}

.STYLE7 {
	font-size: 13px;
	color: #453412;
	text-decoration: none;
}

.STYLE8 {
	color: #FF0000;;
	font-size: 9pt
}

.STYLE9 {
	color: #FF0000;
	font-size: 12px;
	text-decoration: none;
	x
}

.STYLE11 {
	color: #453412;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.STYLE12 {
	color: #453412;
	font-size: 12px;
	font-weight: bold;
}

.STYLE13 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.STYLE14 {
	font-size: 12px;
	color: #0000FF;
}

.STYLE15 {
	font-size: 12px;
	color: #FF0000;
}

.STYLE16 {
	font-size: 12px;
	color: #4B4FA8;
}


#Layer1 {
	position:absolute;
	width:800px;
	height:34px;
	z-index:1;
	top: 145px;
	left: 100px;
}
.banner:link {
	font-size: 14px;
	color: #5E2602;
	text-decoration: none;
}
.banner:visited {
	color: #5E2602;
	text-decoration: none;
}	
.banner:hover {
	color: #FF9900;
}
.Menu:link {
	font-size: 13px;
	color: #C08383;
	text-decoration: none;
}
.Menu:visited {
	color: #C08383;
	text-decoration: none;
	font-size: 13px;
}	
.Menu:hover {
	color: #FF9900;
	font-size: 13px;
}
.main2 {
	font-size: 14px;
	color: #5E2602;
}