<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<title>$!{domainName}管理</title>
<link rel="stylesheet" type="text/css" href="plugins/extjs/ext-2.0/resources/css/ext-all.css" />
<script type="text/javascript" src="plugins/extjs/ext-2.0/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="plugins/extjs/ext-2.0/ext-all.js"></script>
<script type="text/javascript" src="manage.ejf?cmd=other.js"></script>
<script type="text/javascript">
	Ext.BLANK_IMAGE_URL = '$html.extjs2Path()/resources/images/default/s.gif';
</script>
</head>
#set ($domain = $!domainName.toLowerCase())
#*如果helpMeLayout 为true则生成调试用的layout示例*#
#set ($helpMeLayout=false)
<body>
<div id="loading">
	<div class="loading-indicator"><img src="images/extanim32.gif" width="32" height="32" style="margin-right:8px;" align="absmiddle"/>Loading...</div>
</div>
#foreach($field in $!fields)
	#*
	$!{field.length}
	$!{velocityCount}
	$!{field.name}*#
#end
<script defer="defer" type="text/javascript">
$!{domainName}Panel=Ext.extend(EasyJF.Ext.CrudPanel,{
	id:"$!{domain}Panel",
	title:"$!{domainName}管理",
	baseUrl:"$!{domain}.ejf",//存放模块名称	
	createForm:function(){
	var formPanel=new Ext.form.FormPanel({
		frame:true,
		labelWidth:70,
		labelAlign:'right',
		items:[{
			xtype:'fieldset',
			title:'$!{domainName}',
			autoHeight:true,
			items:[{
				layout:'column',
                    border:false,
                    defaults:{border:false},
                    items:[{
                    	columnWidth:.5,
                        layout:'form',
                        defaultType:'textfield',
                        defaults:{width:120},
                        items:[{xtype:"hidden",name:"id"},
#foreach($field in $!fields)
#if( $velocityCount!=$fields.size())
{fieldLabel:'$!{field.lable}',name:'$!{field.name}',width:120},
	#else
{fieldLabel:'$!{field.lable}',name:'$!{field.name}',width:120}
#end
#end

#if($helpMeLayout)
]},{
                    	columnWidth:.5,
                        layout:'form',
                        defaultType:'textfield',
                        defaults:{width:104},
                        items:[{
                        	 inputType:'password',
                        	fieldLabel:'密&nbsp;&nbsp;码',
                        	name:'help_password'
                        },{xtype:"hidden"}]
                    },{
                       xtype:"hidden"
                    }]
			},{
				layout:'form',
	            defaultType:'textfield',
				items:[{
	                	width:300,
	                 	name:"help_email",
	                 	fieldLabel:'电子邮箱'
	      	  	}]
		}]
		},{
			xtype:'fieldset',
			title:'备注信息',
			autoHeight:true,
			items:[{
                	xtype:"textarea",
                	width:380,
                 	name:"help_memo",
                 	hideLabel:true
      	  	}]
		}]
	});
	#else
	
                        ]
                    }]
			}]
		}]
	});
#end

		return formPanel;
    },
    createWin:function()
    {
    	return this.initWin(438,300,"用户信息录入");
    },
    storeMapping:["id",
    #foreach($field in $!fields)
#if( $velocityCount!=$fields.size())
"$!{field.name}",
#else
"$!{field.name}"
#end
#end
	],
    cm:new Ext.grid.ColumnModel([
#foreach($field in $!fields)
#if( $velocityCount!=$fields.size())
{header: "$field.lable", sortable:true,width: 300, dataIndex:"$!{field.name}"},
#else
{header: "$field.lable", sortable:true,width: 300, dataIndex:"$!{field.name}"}
#end
#end
        ])
});

Ext.onReady(function(){	
	var panel=new $!{domainName}Panel();
	setTimeout(function(){
        Ext.get('loading').fadeOut({remove:true});
    }, 300);
	var viewport = new Ext.Viewport({
        layout:'fit',
        items:[panel]
    });
	panel.store.load();
});
</script>
</body>
</html>
