.icon_form {
    background-image:url(../images/pixelicious_s/gear.png) !important;
}

.icon_login {
    background-image:url(../images/pixelicious_s/play.png) !important;
}
.icon_reset {
    background-image:url(../images/pixelicious_s/refresh.png) !important;
}

.icon_guest {
    background-image:url(../images/pixelicious_s/user_alt.png) !important;
}

.icon_window {
    background-image:url(../images/pixelicious_s/earth.png) !important;
}

.icon_more {
    background-image:url(../images/pixelicious_s/document_zoom.png) !important;
}

.icon_tree_main {
    background-image:url(../images/pixelicious_s/dock_icon.png) !important;
}

.icon_tree_filem {
    background-image:url(../images/pixelicious_s/document.png) !important;
}

.icon_tree_search {
    background-image:url(../images/pixelicious_s/zoom.png) !important;
}

.icon_tree_mis {
    background-image:url(../images/pixelicious_s/calender.png) !important;
}

.icon_tree_file {
    background-image:url(../images/pixelicious_s/package_up.png) !important;
}

.icon_tree_ser {
    background-image:url(../images/pixelicious_s/meal.png) !important;
}

.icon_tree_userm {
    background-image:url(../images/pixelicious_s/user_alt2.png) !important;
}

.icon_tree_grpm {
    background-image:url(../images/pixelicious_s/users.png) !important;
}

.icon_tree_prjm {
    background-image:url(../images/pixelicious_s/document_attach.png) !important;
}

.icon_tree_rep {
    background-image:url(../images/pixelicious_s/stats.png) !important;
}

.icon_search_add {
    background-image:url(../images/pixelicious_s/blueprint_add.png) !important;
}

.icon_search_clear {
    background-image:url(../images/pixelicious_s/eraser.png) !important;
}

.icon_search {
    background-image:url(../images/pixelicious_s/picture_zoom.png) !important;
}

.icon_new {
    background-image:url(../images/pixelicious_s/document_add.png) !important;
}

.icon_up {
    background-image:url(../images/pixelicious_s/up.png) !important;
}

.icon_del {
    background-image:url(../images/pixelicious_s/document_remove.png) !important;
}

.icon_ok {
    background-image:url(../images/pixelicious_s/key.png) !important;
}

.icon_close {
    background-image:url(../images/pixelicious_s/key_alt.png) !important;
}

.icon_tab_close {
    background-image:url(../images/pixelicious/delete.png) !important;
}

.icon_change1 {
    background-image:url(../images/pixelicious_s/book_edit.png) !important;
}

.icon_change2 {
    background-image:url(../images/pixelicious_s/document_edit.png) !important;
}

.icon_change3 {
    background-image:url(../images/pixelicious_s/picture_edit.png) !important;
}

.icon_quot {
    background-image:url(../images/pixelicious_s/document_info.png) !important;
}

.icon_user {
    background-image:url(../images/pixelicious_s/user.png) !important;
}

.icon_down {
    background-image:url(../images/pixelicious_s/document_down.png) !important;
}

.icon_up_m {
    background-image:url(../images/pixelicious_s/document_up.png) !important;
}

.icon_download {
    background-image:url(../images/pixelicious_s/down.png) !important;
}

.icon_pass {
    background-image:url(../images/pixelicious_s/earth.png) !important;
}

.icon_nopass {
    background-image:url(../images/pixelicious_s/earth_grey.png) !important;
}

.icon_add_u {
    background-image:url(../images/pixelicious_s/user_add.png) !important;
}

.icon_edit_u {
    background-image:url(../images/pixelicious_s/user_alt.png) !important;
}

.icon_del_u {
    background-image:url(../images/pixelicious_s/user_delete.png) !important;
}

.icon_clear {
    background-image:url(../images/pixelicious_s/trash_closed.png) !important;
}

.icon_add {
    background-image:url(../images/pixelicious_s/zoom_in.png) !important;
}

