<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<title>$blog.title</title>
	</head>
	<body>
	<div id="main">
	<div id="content">
#foreach( $entry in $list )
<div class="entry">
	<div id="post-$!{entry.id}">
	<h2><a href="/portal.ejf?cmd=topicShow&id=$!{entry.id}" rel="bookmark" title="$!{entry.title}" target="_blank">$!{entry.title}</a></h2>
		<abbr title="$!{entry.inputTime}">$!{entry.inputTime}</abbr>
$!{entry.intro}
		<p class="postmetadata">Posted in <span class="cty">
			#if( $entry.category )
			
			<a href="/portal.ejf?cmd=topicList&amp;categoryId=$!{entry.category.id}" title="查看全部$!{entry.category.name}分类" rel="category tag" target="_blank">$!{entry.category.name}</a></span> | 

			#if( $entry.comments.size()>0 )
			<span class="cmt"><a href="/portal.ejf?cmd=topicShow&id=$!{entry.id}#respond" target="_blank" title="Comment on $!{entry.title}">#if ( ${entry.comments.size()}>=10 ) More than 10 #else ${entry.comments.size()} #end Comments &#187;</a></span></p>
				#else
			<span class="cmt"><a href="/portal.ejf?cmd=topicShow&id=$!{entry.id}#respond" target="_blank" title="Comment on $!{entry.title}">No Comments &#187;</a></span></p>
			#end
			#end
	</div>
</div>
#end

</div>


<div id="sidebar">
<div class="rsidebar">
<ul>

<li class="categories">
		<h2>Categories</h2>
		<ul>	
		#foreach( $entry in $categoryList )
		<li class="cat-item cat-item-16"><a href="/portal.ejf?cmd=topicList&amp;categoryId=$!{entry.id}" target="_blank" title="View all posts filed under $!{entry.name}">$!CommUtil.format($entry.name,20)</a> ($entry.topics.size())</li>
		#end
		</ul>
	</li>
	
	<li class="album">
		<h2>Album</h2>
		<ul>	
		#foreach( $entry in $albumCategoryList )
		<li class="cat-item cat-item-$velocityCount"><a href="/portal.ejf?cmd=albumList&amp;categoryId=$!{entry.id}" target="_blank" title="View all posts filed under $!{entry.name}">$!CommUtil.format($entry.name,20)</a> ($entry.albums.size())</li>
		#end
		</ul>
	</li>
	
	
<li><h2>Recent Comments</h2>
<ul>
#foreach( $entry in $recentCommentList )
<li>$entry.user.name:<a href="#if($entry.album )/portal.ejf?cmd=albumShow&id=$!{entry.album.id}#else/portal.ejf?cmd=topicShow&id=$!{entry.topic.id}#end#comment-$!{entry.id}" target="_blank" title="$!{entry.content}">$!CommUtil.format($entry.content,20)</a></li>
#end
</ul>
	  </li>
			
<li><h2>Recent Post</h2>
	<ul>
#foreach( $entry in $recentPostList )
<li><a href="/portal.ejf?cmd=topicShow&id=$!{entry.id}" target="_blank">$!CommUtil.format($entry.title,20)</a></li>
#end
	</ul>
</li>


</ul>
</div>		
</div>


</div>

</body>
</html>