
<div id="header">
	<h1 class="blogtitle"><a href="portal.ejf?cmd=index">$blog.intro</a></h1>
	<p class="desc">$!{blog.header}</p>
</div>
<div id="ddnav">
	<div id="nav">
		<ul class="nav">
			<li><a href="portal.ejf?cmd=index">首页</a></li>
			<li><a href="portal.ejf?cmd=albumList">相册</a></li>
			<li><a href="manage.ejf">管理</a></li>
			<li><a href="portal.ejf?cmd=rss">RSS</a></li>
			<li><a target="_blank" href="http://www.320kbps.com/?refer=8358.net">歌曲试听</a></li>
			<li><a target="_blank" href="#" onclick="alert('正在整理文档');return false;">技术支持</a></li>
			<li><a target="_blank" href="http://www.easyjf.com/?refer=WLR.EASYJF.COM">技术指导 By</a></li>
			#if($session.user)<li><a href="portal.ejf?cmd=logout">退出</a></li>#end
		</ul>
	</div>
</div>
<div id="top"></div>
