/*-== topic.css  meizz  2007-07-24 ==-*/
@Import url("../base.css");
@Import url("../public_header_footer.css");
/*-=be careful when ajust min-width,small min-width may cause topicmanager view to display abnormally  =-*/
body{width:96%; margin:auto; min-width:1000px; text-align:left; background-color:#FFFFFF;}
* html body{padding: 0 2%}
dfn,cite,ins,kbd,samp,var{font-style: normal; text-decoration: none;}

.CSDN-PHF{width: 100%;}
#CSDNPHL td{background-color: #38506A;}

/*-= [web controller] navigation 2007-01-31 meizz =-*/
ul.navigationBar{float:left; margin:0px;padding:0px;list-style:none;padding-left:20px;background:url(BBSGlobal/jutNav.gif) no-repeat 3px center;}
ul.navigationBar li{margin: 0;padding: 0;float: left;padding-left: 2px;padding-right: 16px;background: url(BBSGlobal/divider.gif) no-repeat right center;}
ul.navigationBar .current{padding-right: 0px; background-image: none;}

/*-= [web controller] pagination 2007-01-31 meizz =-*/
ul.paginationBar{float: left;margin: 0px;padding: 1px;list-style: none;border: solid 1px #CCCCCC;}
ul.paginationBar li{margin: 0;padding: 0;display: inline;}
ul.paginationBar a,ul.paginationBar span{float: left;margin-right: 1px;line-height: 130%;padding: 0.2em 0.5em 0.1em;background-color: #F0F1F5;}
ul.paginationBar .current a{font-weight: bold;}
ul.paginationBar span{color: #FFFFFF;font-weight: bold;background: url(BBSGlobal/explain.gif) repeat-x;}
ul.paginationBar a:hover{background-color: #DDDDDD;}

/*-= [web controller] tabbar 2007-01-27 meizz =-*/
ul.tabBar{height: 25px;list-style: none;margin: 6px 0 0 0;padding: 0 0 0 10px;background: url(BBSGlobal/bgTabbar.gif) repeat-x top;}
ul.tabBar li{margin: 0;padding: 0;float: left;width: 66px;height: 21px;line-height: 20px;text-align: center;background: url(BBSGlobal/tabbarItem.gif) no-repeat top;}
ul.tabBar li.current{background-image: url(BBSGlobal/tabbarItemSelected.gif);}
ul.tabBar a{color: #485E6C;}
ul.tabBar li.current a{color: #FFFFFF;}
ul.subTabBar{margin: 0;padding: 0;list-style: none;}
ul.subTabBar li{margin: 0;padding: 0;}

/*-= [web controller] tip 2007-01-16 meizz =-*/
.csdnTipCaption{height: 28px;background: transparent url(BBSGlobal/bgTipCaption.gif) repeat-x;}
.csdnTip strong{display: block;font-size: 14px;padding-top: 3px;margin-left: 5px;padding-left: 18px;background: transparent url(BBSGlobal/iconCaption.gif) no-repeat left 3px;}
.csdnTipCaption div{width: 11px;float: right;height: 11px;color: #104967;margin-top: 5px;margin-right: 5px;background: transparent url(BBSGlobal/arrow_up.gif) no-repeat right center;}
.innerCsdnTip{border: solid 1px #95B9C9; padding: 1px;}
.csdnTipCaption div.hide{background-image: url(BBSGlobal/arrow_down.gif);}
.csdnTipContent{clear: right; padding: 5px; font-size: 12px;}
* html .csdnTipContent hr{height: 1px; border-top: 1px solid #95B9C9;}
.csdnTip p, .csdnTip ul, .csdnTip span{font-size: 13px; margin-top: 0; margin-bottom: 0}
.csdnTip li{list-style-image: url(BBSGlobal/dot.gif); font-size: 13px; line-height: 16px;}
.csdnTip a:link{color: #0000D0;text-decoration: underline;}
.csdnTipContent .success{height: 36px;color: #000080;display: block;padding-top: 5px;padding-left: 40px;background: transparent url(BBSGlobal/success.gif) no-repeat 1px top;}
.csdnTipContent .error{height: 36px;display: block;color: #FF0000;padding-top: 5px;padding-left: 40px;background: transparent url(BBSGlobal/error.gif) no-repeat 1px top;}
.csdnTipContent .warning{height: 36px;display: block;color: #FF9933;padding-top: 5px;padding-left: 40px;background: transparent url(BBSGlobal/warning.gif) no-repeat 1px top;}
.csdnTipContent .tip{height: 36px;display: block;padding-top: 5px;padding-left: 40px;background: transparent url(BBSGlobal/tip.gif) no-repeat 1px top;}
.csdnTipContent .info{height: 36px;display: block;padding-top: 5px;padding-left: 40px;background: transparent url(BBSGlobal/info.png) no-repeat 1px top;}
* html .csdnTipContent .info{background-image: url(BBSGlobal/info.gif);}
.csdnTipContent .help{height: 36px;display: block;color: #008000;padding-top: 5px;padding-left: 40px;background: transparent url(BBSGlobal/help.gif) no-repeat 1px top;}
.csdnTipContent, .csdnTipContent ul, .csdnTipContent li{font-size: 12px;}

.simpleTips{width:90%;height:60px;margin:0px auto;margin-top:5px;}
.simpleTips span{position:relative;background:url(top.gif) 0 no-repeat;width:99%;height:50px;display:block;margin:0 auto;}
.simpleTips span cite{display:block;font-style:normal;position:absolute;left:55px;top:17px;font-size:14px;}
.simpleTips.success span{background-image:url(BBSGlobal/simpleTips/success.gif);height:50px;}
.simpleTips.error span{background-image:url(BBSGlobal/simpleTips/error.gif);height:40px;}
.simpleTips.info span{background-image:url(BBSGlobal/simpleTips/info.gif);height:40px;text-align:left;}

/*-= search bar =-*/
#searchBar{margin-top: 5px;}
#search{float: right;}
input.key{border: solid 1px #AAAAAA; height: 16px;}
input.csdnsearch{background-image: url(BBSGlobal/csdnsearch.gif);width: 100px; height: 21px;}
input.fsearch{background-image: url(BBSGlobal/fsearch.gif);width: 80px; height: 21px;}
#searchBar .clear{display: none;}

/*-= navigation bar =-*/
#navbar, #funcbar, .funcbar{margin-top: 5px; text-align: left; line-height: 24px;}
#pagefunc{float: right;}
#navbar dl, #funcbar dl, .funcbar dl{padding: 1px; border: solid 1px #CCCCCC;}
#navbar dd, #funcbar dd, .funcbar dd{height: 24px;padding: 0 5px;line-height: 20px;background-color: #E1E2E7;}
#navbar a, #funcbar a, .funcbar a{color: #000000;}
#navbar .clear{display: none;}
#navbar .csdnNavigation{float: left; padding-left: 22px; background: url(BBSGlobal/jutNav.gif) no-repeat 3px;}
#funcbar dd{height: 24px; padding-top: 2px;}
#funcbar span{float: right;}

/*-== post reply item ==-*/
input.button{color: #FFFFFF;border-width: 0px;background-image: url(BBSGlobal/bgButton.gif); width: 65px; height: 22px;line-height: 20px}
input.button_120{color: #FFFFFF;border-width: 0px;background-image: url(BBSGlobal/bgButton_120.gif); width: 120px; height: 22px;line-height: 20px}
a.button{padding: 0 5px;color: #FFFFFF;height: 140%;margin-left: 6px;border-top: solid 1px #6699CC;border-left: solid 1px #6699CC;border-right: solid 1px #339999;border-bottom: solid 1px #339999;background: url(BBSGlobal/bgLinkButton.gif) repeat-x top;}
a.blockButton{width: 65px;height: 22px;color: #FFFFFF;display: block;line-height: 22px;text-align: center;margin-right: 3px;background-image: url(BBSGlobal/bgButton.gif);}
a.button:active,a.button:hover,a.button:visited,a.button:link,a.blockButton:link,a.blockButton:active,a.blockButton:visited,a.blockButton:hover{color: #FFFFFF;}
#navbar a.blockButton, #funcbar a.blockButton, .func a.blockButton{color:#FFFFFF;}
span.jinghua img{background:url(BBSGlobal/jinghua2.gif) no-repeat; width:29px; height:17px;}
span.lock img{background:url(BBSGlobal/lock.gif) no-repeat; width:17px; height:17px;}


/*--= rank and diamond =--*/
img.grade{background: url(BBSGlobal/rank.gif) no-repeat;}
img.user1{width: 11px; height: 9px;}
img.user2{width: 22px; height: 9px;}
img.user3{width: 33px; height: 9px;}
img.user4{width: 44px; height: 9px;}
img.user5{width: 55px; height: 9px;}
img.star1{background-position: 0 -12px; width: 10px; height: 9px;}
img.star2{background-position: 0 -12px; width: 20px; height: 9px;}
img.star3{background-position: 0 -12px; width: 30px; height: 9px;}
img.star4{background-position: 0 -12px; width: 40px; height: 9px;}
img.star5{background-position: 0 -12px; width: 50px; height: 9px;}
img.diam1{background-position: 0 -24px; width: 16px; height: 13px;}
img.diam2{background-position: 0 -24px; width: 32px; height: 13px;}
img.diam3{background-position: 0 -24px; width: 48px; height: 13px;}
img.diam4{background-position: 0 -24px; width: 64px; height: 13px;}
img.diam5{background-position: 0 -24px; width: 80px; height: 13px;}
