package ${package}.ibatis;

import java.util.ArrayList;
import java.util.List;

import org.springframework.orm.ibatis.support.SqlMapClientDaoSupport;

import ${package}.model.${object_name}Model;

 /**
 *
 * <p>Title: </p>
 * <p>Description: </p>
 * <p>Copyright: Copyright (c) 2008</p>
 * <p>Company: ${company}</p>
 * @author ${author}
 * @version 1.0
 */
public class ${object_name}DAOImpl  extends SqlMapClientDaoSupport implements I${object_name}DAO{

	//
	public int create${object_name}(${object_name}Model model){
		return getSqlMapClientTemplate().update("create${object_name}", model);
	}
	//
    public int update${object_name}(${object_name}Model model){
    	return getSqlMapClientTemplate().update("update${object_name}", model);
    }
    //
    public int delete${object_name}(${object_name}Model model){
    	return getSqlMapClientTemplate().delete("delete${object_name}", model);
    }
    //
    public List<${object_name}Model> get${object_name}List(${object_name}Model model){
		List<${object_name}Model> list = null;
		try {
			list = getSqlMapClientTemplate().queryForList("get${object_name}List", model);
		} catch (Exception e) {
			  
		}
		if(list == null){
			list = new ArrayList<${object_name}Model>();
		}
		return list;
    }
    //
    public int get${object_name}Count(${object_name}Model model){
    	return (Integer)getSqlMapClientTemplate().queryForObject("get${object_name}Count",model);
    }
    //
    public List<${object_name}Model> get${object_name}List(int start,int count,${object_name}Model model){
    	List<${object_name}Model> list = null;
		try {
			list = getSqlMapClientTemplate().queryForList("get${object_name}List", model,start,count);
		} catch (Exception e) {
			  
		}
		if(list == null){
			list = new ArrayList<${object_name}Model>();
		}
		return list;
    }
    //
    public ${object_name}Model get${object_name}(${object_name}Model model){
    	return (${object_name}Model)getSqlMapClientTemplate().queryForObject("get${object_name}",model);
    }

}
