package ${package}.model;

import java.io.Serializable;

 /**
 *
 * <p>Title: </p>
 * <p>Description: </p>
 * <p>Copyright: Copyright (c) 2008</p>
 * <p>Company: ${company}</p>
 * @author ${author}
 * @version 1.0
 */
public class ${object_name}Model implements Serializable{

	#foreach( $col in $list )	
    private ${col.javaType} ${col.columnName};
    	
	#end

	#foreach( $col in $list )
		
	public ${col.javaType} get${col.getFirstLetterUpper($col.columnName)}(){
		return this.${col.columnName};
	}
	
	public void set${col.getFirstLetterUpper($col.columnName)}($col.javaType $col.columnName){
		this.${col.columnName} = ${col.columnName};
	}
    	
	#end

	public String toString(){
		StringBuffer sb = new StringBuffer("${object_name}Model={\n");
		#foreach( $col in $list )
		#if($velocityCount!=${list.size()})
		sb.append("${col.columnName}="+this.${col.columnName}+",\n");
		#else
		sb.append("${col.columnName}="+this.${col.columnName}+"\n}\n");
		#end
		#end
		return sb.toString();
	}
	
	
}
