<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="${mq.url}" />
		<!-- <property name="clientID" value="sshdemo!" /> -->
		<!-- TODO username password -->
	</bean>

	<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
		<property name="connectionFactory" ref="connectionFactory"/>
		<property name="maxConnections" value="${mq.pool.maxConnections}" />
		<property name="maximumActive" value="${mq.pool.maximumActive}" />
		<property name="idleTimeout" value="${mq.pool.idleTimeout}" />
	</bean>

	<bean id="cacheConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory"
			ref="connectionFactory" />
		<property name="sessionCacheSize" value="5" />
		<property name="cacheConsumers" value="true" />
		<property name="cacheProducers" value="false" />
	</bean>

	<!-- TODO 哪有支持缓存connection、session、producer的完美factory？ -->

	<!-- TODO 支持异步发送、流量控制、批量发送等 -->
</beans>